<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>缠论解盘 - TradingView Chart</title>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layui.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}" />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='jquery-3.7.0.min.js') }}"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='layui.js') }}"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='xm-select.js') }}"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='marked.min.js') }}"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='charting_library/charting_library.standalone.js') }}?version=1.0.0"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='datafeeds/udf/dist/bundle.js') }}?version=1.0.0"></script>
    {% include 'dark.html' %}
  </head>

  <body>
    <div class="layui-fluid" style="padding: 0">
      <div class="layui-row">
        <div
          class="layui-col-xs10 layui-col-sm10 layui-col-md10"
          id="chart_container"
          style="display: flex; flex-direction: column; height: 100vh">
          {# 图表内容 #}
          <div
            id="tv_charts_area"
            style="
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
            "></div>
        </div>
        <div
          class="layui-col-xs2 layui-col-sm2 layui-col-md2"
          id="chart_menu"
          style="
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            overflow: scroll;
            padding: 0;
            margin: 0;
          ">
          <div style="padding: 10px">
            <div class="layui-inline" style="width: 100%">
              <h2 style="float: left; margin-top: 9px">缠论解盘</h2>
              <div
                id="toggle-menu"
                style="float: right; margin-top: 10px; cursor: pointer">
                <div>
                  <i class="layui-icon layui-icon-shrink-right"></i>
                </div>
              </div>
            </div>
            <hr class="layui-border-red" />
            <form
              class="layui-form layui-form-pane"
              lay-filter="select_market_form">
              <div class="layui-form-item">
                <div class="layui-input-block" style="margin: 0; padding: 0">
                  <label>
                    <select name="market" lay-filter="select_market">
                      <option value="a">沪深A股</option>
                      <option value="hk">港股</option>
                      <option value="futures">国内期货</option>
                      <option value="ny_futures">纽约期货</option>
                      <option value="fx">外汇</option>
                      <option value="us">美股</option>
                      <option value="currency">数字货币(合约)</option>
                      <option value="currency_spot">数字货币(现货)</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="layui-form-item">
                <div id="code_search" class="xm-select-demo"></div>
              </div>
            </form>
          </div>
          <div class="layui-collapse lay-accordion" lay-filter="collapse-opts">
            <div class="layui-colla-item">
              {# 自选内容 #}
              <div class="layui-colla-title" data-ca-title="自选组">自选组</div>
              <div
                class="layui-colla-content layui-show"
                style="padding: 0; position: relative; height: 100%">
                <form
                  class="layui-form zixuan-form-bg"
                  style="
                    width: 100%;
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    padding: 5px 0;
                  ">
                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <div
                        class="layui-input-inline layui-input-wrap"
                        style="width: 60%; float: left">
                        <label for="zixuan_groups">
                          <select
                            id="zixuan_groups"
                            name="zixuan_groups"
                            lay-filter="select_zx_group"></select>
                        </label>
                      </div>
                      <div
                        class="layui-form-mid"
                        style="padding: 4px 0 !important; float: left">
                        <button
                          type="button"
                          id="add_zixuan"
                          class="layui-btn layui-btn-primary layui-border-red layui-btn-sm">
                          <i class="layui-icon layui-icon-add-1"></i> 自选
                        </button>
                      </div>
                      <div
                        class="layui-form-mid"
                        style="padding: 4px 0 !important; float: left">
                        <button
                          type="button"
                          id="refresh_zixuan"
                          class="layui-btn layui-btn-primary layui-border-red layui-btn-sm">
                          <i class="layui-icon layui-icon-refresh"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <div
                  style="
                    overflow-y: auto;
                    height: calc(100% - 50px);
                    margin-top: 5px;
                  ">
                  <table
                    class="layui-hide"
                    id="table_zixuan_list"
                    style="width: 100%"></table>
                </div>
                <hr class="layui-border-red" />
              </div>
            </div>
            <div class="layui-colla-item">
              <div class="layui-colla-title" data-ca-title="监控提醒">
                监控提醒
              </div>
              <div class="layui-colla-content" style="padding: 0">
                <form
                  class="layui-form"
                  lay-filter="alert_records_form"
                  style="padding: 10px 10px 0 10px">
                  <div class="layui-form-item">
                    <label class="layui-form-label">任务名称</label>
                    <div class="layui-input-block">
                      <select
                        name="task_name_select"
                        id="task_name_select"
                        lay-filter="task_name_select">
                        <option value="">全部</option>
                      </select>
                    </div>
                  </div>
                </form>
                <table
                  class="layui-hide"
                  id="table_alert_reocrds"
                  lay-filter="table_alert_reocrds"></table>
                <hr class="layui-border-red" />
              </div>
            </div>
            <div class="layui-colla-item" id="collapse-bkgn">
              <div class="layui-colla-title" data-ca-title="板块概念">
                板块概念
              </div>
              <div class="layui-colla-content" style="padding: 0">
                <form
                  class="layui-form"
                  lay-filter="bkgn_form"
                  style="padding: 10px 10px 0 10px">
                  <div class="layui-form-item" style="margin-bottom: 5px">
                    <div class="layui-input-inline" style="width: 100%">
                      <div id="bkgn_xm_select"></div>
                    </div>
                  </div>
                </form>
                <div style="padding: 10px">
                  <table
                    class="layui-hide"
                    id="bkgn_table"
                    lay-filter="bkgn_table"
                    style="width: 100%; display: none"></table>
                </div>
                <hr class="layui-border-red" />
              </div>
            </div>
            <div class="layui-colla-item">
              <div class="layui-colla-title" data-ca-title="AI分析助手">
                AI分析助手
              </div>
              <div class="layui-colla-content" style="padding: 0">
                <form class="layui-form" style="width: 100%">
                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <div
                        class="layui-input-inline layui-input-wrap"
                        style="width: 40%; float: left">
                        <label for="ai_code">
                          <input
                            type="text"
                            name="ai_code"
                            id="ai_code"
                            autocomplete="off"
                            readonly="readonly"
                            class="layui-input" />
                        </label>
                      </div>
                      <div
                        class="layui-form-mid"
                        style="width: 30%; padding: 0 !important; float: left">
                        <label>
                          <select
                            name="ai_frequencys"
                            id="ai_frequencys"></select>
                        </label>
                      </div>
                      <div
                        class="layui-form-mid"
                        style="padding: 4px 0 !important; float: left">
                        <button
                          type="button"
                          id="ai_analyse_btn"
                          class="layui-btn layui-btn-primary layui-border-red layui-btn-sm">
                          分析
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <table
                  class="layui-hide"
                  id="table_ai_analysis"
                  lay-filter="table_ai_analysis"></table>

                <hr class="layui-border-red" />
              </div>
            </div>
            <div class="layui-colla-item">
              <div class="layui-colla-title" data-ca-title="关于">关于</div>
              <div class="layui-colla-content" style="padding: 0">
                <div class="layui-text" style="padding: 16px">
                  <h3>Chanlun-Pro</h3>
                  <p>基于缠论的市场行情量化分析工具</p>
                  <p>
                    <a
                      href="https://github.com/yijixiuxin/chanlun-pro"
                      target="_blank"
                      >Github 地址</a
                    >
                    <a
                      href="https://gitee.com/wang-student/chanlun-pro"
                      target="_blank"
                      >Gitee 地址</a
                    >
                  </p>
                  <p>
                    项目文档：<a
                      href="https://chanlun-pro.readthedocs.io/"
                      target="_blank"
                      >链接</a
                    >
                  </p>
                  <p>
                    项目作者<br />
                    <img
                      src="{{ url_for('static', filename='imgs/wx.jpg') }}"
                      width="200px"
                      height="260px"
                      alt="" />
                  </p>
                </div>

                <hr class="layui-border-red" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'sub_temp.html' %}
  </body>
  <script>
    // 定时更新tick涨跌幅的对象
    var interval_update_rates;
    var interval_get_alert_records;

    var market_frequencys = `{{ market_frequencys| tojson }}`;
    // 解析 json 字符串
    var market_frequencys = JSON.parse(market_frequencys);

    var default_vals = {
      theme: "Light",
      market: "a",
      a_interval_1: "1D",
      a_interval_2: "1D",
      hk_interval_1: "1D",
      hk_interval_2: "1D",
      us_interval_1: "1D",
      us_interval_2: "1D",
      fx_interval_1: "1D",
      fx_interval_2: "1D",
      futures_interval_1: "1D",
      futures_interval_2: "1D",
      ny_futures_interval_1: "1D",
      ny_futures_interval_2: "1D",
      currency_interval_1: "1D",
      currency_interval_2: "1D",
      currency_spot_interval_1: "1D",
      currency_spot_interval_2: "1D",
      chart_layout_type: "single",
      a_code: "{{ market_default_codes.a }}",
      hk_code: "{{ market_default_codes.hk }}",
      us_code: "{{ market_default_codes.us }}",
      fx_code: "{{ market_default_codes.fx }}",
      futures_code: "{{ market_default_codes.futures }}",
      ny_futures_code: "{{ market_default_codes.ny_futures }}",
      currency_code: "{{ market_default_codes.currency }}",
      currency_spot_code: "{{ market_default_codes.currency_spot }}",
    };
    var chart_widgets = [];

    // 变更图表展示的标的
    function change_chart_ticker(_market, _code) {
      var market = _market;
      var code = _code;
      Utils.set_local_data("market", market);
      Utils.set_local_data(market + "_code", code);
      layui.each(chart_widgets, function (i, w) {
        w.activeChart().setSymbol(market + ":" + code);
      });
      ZiXuan.render_zixuan_opts();
    }
  </script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_ama.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_atr.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_cdbb.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_cmcm.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_fcx.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_hdly.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_heima.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_hlblw.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_hlftx.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_kdj.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_ltqs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_ma.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_macdbl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_vegasma.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tv_indicators/chart_idx_vol.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/zixuan.js') }}"></script>
  <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ai.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bkgn.js') }}"></script>
  <script>
    $(function () {
      // 缠论配置项更改
      layui.use(function () {
        var layer = layui.layer;
        var element = layui.element;
        var form = layui.form;
        var util = layui.util;
        var dropdown = layui.dropdown;

        // 下拉菜单事件
        dropdown.render({
          elem: "#toggle-menu",
          data: [
            {
              title: "缠论配置项",
              templet:
                '<div><i class="layui-icon layui-icon-set"></i> <span>缠论配置项</span></div>',
              id: 1,
            },
            {
              title: "自选组管理",
              templet:
                '<div><i class="layui-icon layui-icon-templeate-1"></i> <span>自选组管理</span></div>',
              id: 2,
            },
            {
              title: "监控列表",
              templet:
                '<div><i class="layui-icon layui-icon-list"></i> <span>监控列表</span></div>',
              id: 3,
            },
            {
              title: "新增监控",
              templet:
                '<div><i class="layui-icon layui-icon-speaker"></i> <span>新增监控</span></div>',
              id: 4,
            },
            {
              title: "当前任务",
              templet:
                '<div><i class="layui-icon layui-icon-senior"></i> <span>当前任务</span></div>',
              id: 6,
            },
            {
              title: "切换图表布局",
              templet:
                '<div><i class="layui-icon layui-icon-carousel"></i> <span>切换图表布局</span></div>',
              id: 7,
              child: [
                {
                  title: "布局-单图",
                  id: "single",
                },
                {
                  title: "布局-横向双图",
                  id: "horizontal-2",
                },
                {
                  title: "布局-横向7/3",
                  id: "horizontal-7-3",
                },
                {
                  title: "布局-纵向双图",
                  id: "vertical-2",
                },
                {
                  title: "布局-三图",
                  id: "three",
                },
                {
                  title: "布局-四图",
                  id: "four",
                },
              ],
            },
            {
              title: "切换主题",
              templet:
                '<div><i class="layui-icon layui-icon-engine"></i> <span>切换主题</span></div>',
              id: 8,
            },
          ],
          click: function (item) {
            if (item.title === "缠论配置项") {
              layer.open({
                type: 2,
                title: "缠论配置项变更",
                area: ["1100px", "90vh"],
                content:
                  "/get_cl_config/" +
                  Utils.get_market() +
                  "/" +
                  Utils.get_code().replace("/", "__"),
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            } else if (item.title === "自选组管理") {
              layer.open({
                type: 2,
                title: "自选组管理",
                area: ["800px", "50vh"],
                content: "/zixuan_group/" + Utils.get_market(),
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            } else if (item.title === "监控列表") {
              layer.open({
                type: 1,
                title: "监控列表",
                area: ["1000px", "50vh"],
                content: $("#layer-wrapper-alert-task-list"),
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
                btn: ["刷新"],
                btn1: function (index, layero, that) {
                  Alert.refresh_alerts_table();
                },
                success: function (layero, index, that) {
                  // 初始渲染表格
                  if (typeof Alert.refresh_alerts_table === "function") {
                    Alert.refresh_alerts_table();
                  }
                },
                end: function () {
                  $("#layer-wrapper-alert-task-list").hide();
                },
              });
            } else if (item.title === "新增监控") {
              layer.open({
                type: 2,
                title: "新增监控提醒",
                area: ["1000px", "90vh"],
                content: "/alert_edit/" + Utils.get_market() + "/0",
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            } else if (item.title === "运行选股") {
              layer.open({
                type: 2,
                title: "运行选股",
                area: ["1000px", "50vh"],
                content: "/xuangu/task_list/" + Utils.get_market(),
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            } else if (item.title === "当前任务") {
              layer.open({
                type: 2,
                title: "当前任务",
                area: ["1000px", "50vh"],
                content: "/jobs",
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            } else if (item.title.startsWith("布局-")) {
              Utils.set_local_data("chart_layout_type", item.id);
              location.reload();
            } else if (item.title === "切换主题") {
              let theme = Utils.get_local_data("theme");
              if (theme === "Light") {
                Utils.set_local_data("theme", "dark");
              } else {
                Utils.set_local_data("theme", "Light");
              }
              location.reload();
            } else if (item.title === "系统设置") {
              layer.open({
                type: 2,
                title: "系统设置",
                area: ["1000px", "50vh"],
                content: "/setting",
                anim: 1,
                fixed: true, // 不固定
                shadeClose: true,
              });
            }
          },
        });

        // 自选操作初始
        ZiXuan.init_zixuan_opts();

        // 折叠面板事件
        element.on("collapse(collapse-opts)", function (data) {
          let is_open = data.show; // 得到当前面板的展开状态，true or false
          let ca_title = $(data.title).attr("data-ca-title"); // 得到当前点击面板的标题区域对象

          if (ca_title === "自选组") {
            if (is_open) {
              interval_update_rates = setInterval(
                ZiXuan.stocks_update_rate(),
                30000
              );
            } else {
              clearInterval(interval_update_rates);
            }
          }
          if (ca_title === "监控提醒") {
            if (is_open) {
              Alert.init();
              // 获取警报记录
              Alert.get_alert_records();
              interval_get_alert_records = setInterval(
                Alert.get_alert_records,
                60000
              );
            } else {
              clearInterval(interval_get_alert_records);
            }
          }

          if (ca_title === "板块概念") {
            if (is_open) {
              // 板块概念
              BKGN.init_bkgn_opts();
            }
          }
        });

        // 初始赋值
        form.val("select_market_form", {
          market: Utils.get_market(),
        });
        // 表单变动
        form.on("select(select_market)", function (data) {
          var market = data.value;
          Utils.set_local_data("market", market);
          location.reload();
        });

        // 固定条，显示与隐藏菜单栏
        Utils.render_fixbar();

        // AI 分析助手
        AI.init_ai_opts();
        AI.get_ai_analyse_records();
      });

      // 初始化展示页面
      function init_web() {
        // 如果市场不是 a，则隐藏 collapse-bkgn
        if (Utils.get_market() !== "a") {
          $("#collapse-bkgn").hide();
        }

        let chart_layout_type =
          Utils.get_local_data("chart_layout_type") || "single";
        let charts_area = $("#tv_charts_area");
        charts_area.empty();
        let win_height = window.innerHeight;
        let win_width = charts_area.width() || window.innerWidth;
        let chart_configs = [];
        if (chart_layout_type === "single") {
          chart_configs = [{ id: "1", style: "flex:1;" }];
          charts_area.css({ display: "flex", flexDirection: "column" });
        } else if (chart_layout_type === "vertical-2") {
          chart_configs = [
            { id: "1", style: "flex:1;" },
            { id: "2", style: "flex:1;" },
          ];
          charts_area.css({ display: "flex", flexDirection: "row" });
        } else if (chart_layout_type === "horizontal-2") {
          chart_configs = [
            { id: "1", style: "flex:1;" },
            { id: "2", style: "flex:1;" },
          ];
          charts_area.css({ display: "flex", flexDirection: "column" });
        } else if (chart_layout_type === "three") {
          chart_configs = [{ id: "1" }, { id: "2" }, { id: "3" }];
          charts_area.css({ display: "flex", flexDirection: "column" });
        } else if (chart_layout_type === "horizontal-7-3") {
          chart_configs = [{ id: "1" }, { id: "2" }];
          charts_area.css({ display: "flex", flexDirection: "column" });
        } else if (chart_layout_type === "four") {
          chart_configs = [
            { id: "1", style: "width:50%;height:50%;float:left;" },
            { id: "2", style: "width:50%;height:50%;float:left;" },
            { id: "3", style: "width:50%;height:50%;float:left;" },
            { id: "4", style: "width:50%;height:50%;float:left;" },
          ];
          charts_area.css({
            display: "flex",
            flexDirection: "row",
            flexWrap: "wrap",
          });
        }

        chart_widgets = [];
        if (chart_layout_type === "horizontal-7-3") {
          charts_area.append(
            '<div id="tv_chart_container_1" style="width:100%;height:' +
              win_height * 0.7 +
              'px;"></div>'
          );
          charts_area.append(
            '<div id="tv_chart_container_2" style="width:100%;height:' +
              win_height * 0.3 +
              'px;"></div>'
          );
          chart_widgets.push(Charts.show_tv_chart("1", win_height * 0.7));
          chart_widgets.push(Charts.show_tv_chart("2", win_height * 0.3));
        } else if (chart_layout_type === "three") {
          // 上面一行两个图
          let rowDiv = $(
            '<div style="display:flex;width:100%;height:' +
              win_height / 2 +
              'px;"></div>'
          );
          rowDiv.append(
            '<div id="tv_chart_container_1" style="flex:1;"></div>'
          );
          rowDiv.append(
            '<div id="tv_chart_container_2" style="flex:1;"></div>'
          );
          charts_area.append(rowDiv);
          // 下面一行一个图
          charts_area.append(
            '<div id="tv_chart_container_3" style="width:100%;height:' +
              win_height / 2 +
              'px;"></div>'
          );
          chart_widgets.push(Charts.show_tv_chart("1", win_height / 2));
          chart_widgets.push(Charts.show_tv_chart("2", win_height / 2));
          chart_widgets.push(Charts.show_tv_chart("3", win_height / 2));
        } else {
          chart_configs.forEach(function (cfg, idx) {
            let div_id = "tv_chart_container_" + cfg.id;
            charts_area.append(
              '<div id="' +
                div_id +
                '" style="' +
                (cfg.style || "") +
                '"></div>'
            );
            // 计算每个图表的高度/宽度
            let chart_height =
              chart_layout_type === "single"
                ? win_height
                : chart_layout_type === "vertical-2" ||
                  chart_layout_type === "horizontal-2"
                ? win_height / 2
                : chart_layout_type === "four"
                ? win_height / 2
                : win_height;
            chart_widgets.push(Charts.show_tv_chart(cfg.id, chart_height));
          });
        }
        ZiXuan.render_zixuan_opts();
      }

      init_web();
      interval_update_rates = setInterval(ZiXuan.stocks_update_rate(), 30000);
    });
  </script>
</html>
