<!DOCTYPE HTML>
<html lang="zh">

<head>
    <title>缠论配置项</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.7.0.min.js') }}"></script>
    {% include 'dark.html' %}
</head>

<body class="layui-fluid">
    <blockquote class="layui-elem-quote">
        <p class="layui-font-red">
            <i class="layui-icon layui-icon-tips"></i>
            鼠标放在输入框上，会有针对于该设置的详细说明
        </p>
        <p>详细设置文档：<a
                href="https://chanlun-pro.readthedocs.io/%E7%BC%A0%E8%AE%BA%E9%85%8D%E7%BD%AE%E9%A1%B9%E8%AF%B4%E6%98%8E/"
                class="layui-font-blue" target="_blank">缠论配置项说明</a>
        </p>
    </blockquote>

    <form class="layui-form layui-row layui-form-pane cl_config_setting" role="form">

        <input type="hidden" name="code" value="{{ code }}" lay-filter="cl_config" />

        <div class="layui-form-item" title="当前市场">
            <label class="layui-form-label">市场</label>
            <div class="layui-input-block">
                <label for="kline_type">
                    <select type="select" name="market" lay-filter="cl_config" disabled>
                        <option value="a" {% if market=='a' %} selected {% endif %}>沪深A股</option>
                        <option value="hk" {% if market=='hk' %} selected {% endif %}>港股</option>
                        <option value="futures" {% if market=='futures' %} selected {% endif %}>国内期货</option>
                        <option value="ny_futures" {% if market=='ny_futures' %} selected {% endif %}>纽约期货</option>
                        <option value="fx" {% if market=='fx' %} selected {% endif %}>外汇</option>
                        <option value="us" {% if market=='us' %} selected {% endif %}>美股</option>
                        <option value="currency" {% if market=='currency' %} selected {% endif %}>数字货币(合约)</option>
                        <option value="currency_spot" {% if market=='currency_spot' %} selected {% endif %}>数字货币(现货)
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue"><i
                class="layui-edge layui-edge-right"></i>通用配置是针对于市场下所有标的起作用；独立配置是只针对于当前标的起作用。</p>

        <div class="layui-form-item" title="使用配置">
            <label class="layui-form-label">使用配置</label>
            <div class="layui-input-block">
                <label for="kline_type">
                    <select type="select" name="config_use_type" lay-filter="cl_config">
                        <option value="common" {% if config_use_type=='common' %} selected {% endif %}>通用配置</option>
                        <option value="custom" {% if config_use_type=='custom' %} selected {% endif %}>
                            {{ code }}独立配置
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="layui-form-item" title="K线类型中，缠论K线，是经过合并后的K线数据">
            <label class="layui-form-label">K线类型</label>
            <div class="layui-input-block">
                <label for="kline_type">
                    <select type="select" name="kline_type" lay-filter="cl_config">
                        <option value="kline_default" {% if kline_type=='kline_default' %} selected {% endif %}>默认K线
                        </option>
                        <option value="kline_chanlun" {% if kline_type=='kline_chanlun' %} selected {% endif %}>
                            缠论K线
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <hr class="layui-border-red">
        <div class="layui-form-item">
            <div class="layui-inline" title="分型高低区域">
                <label class="layui-form-label">分型区域</label>
                <div class="layui-input-inline">
                    <label for="fx_qy">
                        <select type="select" name="fx_qy" lay-filter="cl_config">
                            <option value="fx_qy_three" {% if fx_qy=='fx_qy_three' %} selected {% endif %}>分型三根K线
                            </option>
                            <option value="fx_qy_middle" {% if fx_qy=='fx_qy_middle' %} selected {% endif %}>分型中间K线
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="顶底分型区间计算依据">
                <label class="layui-form-label">分型区间</label>
                <div class="layui-input-inline">
                    <label for="fx_qj">
                        <select type="select" name="fx_qj" lay-filter="cl_config">
                            <option value="fx_qj_k" {% if fx_qj=='fx_qj_k' %} selected {% endif %}>分型内原始K线高低区间
                            </option>
                            <option value="fx_qj_ck" {% if fx_qj=='fx_qj_ck' %} selected {% endif %}>分型内缠论K线高低区间
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="影响顶底包含是否成笔">
                <label class="layui-form-label">分型包含</label>
                <div class="layui-input-inline">
                    <label for="fx_bh">
                        <select type="select" class="form-control" name="fx_bh" lay-filter="cl_config">
                            <option value="fx_bh_yes" {% if fx_bh=='fx_bh_yes' %} selected {% endif %}>接受所有包含关系
                            </option>
                            <option value="fx_bh_dingdi" {% if fx_bh=='fx_bh_dingdi' %} selected {% endif %}>顶不可以在底中
                            </option>
                            <option value="fx_bh_diding" {% if fx_bh=='fx_bh_diding' %} selected {% endif %}>底不可以在顶中
                            </option>
                            <option value="fx_bh_no" {% if fx_bh=='fx_bh_no' %} selected {% endif %}>不允许所有包含关系
                            </option>
                            <option value="fx_bh_no_qbh" {% if fx_bh=='fx_bh_no_qbh' %} selected {% endif %}>
                                不允许前分型包含后分型
                            </option>
                            <option value="fx_bh_no_hbq" {% if fx_bh=='fx_bh_no_hbq' %} selected {% endif %}>
                                不允许后分型包含前分型
                            </option>
                            <option value="fx_cd_no" {% if fx_bh=='fx_cd_no' %} selected {% endif %}>
                                顶底不重叠
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <hr class="layui-border-red">
        <div class="layui-form-item">
            <div class="layui-inline" title="成笔条件，老笔顶底至少5跟缠论K线；新笔顶底至少4跟缠论K线，5跟原始K线；简单笔3跟原始K线即可成笔；顶底成笔，只要有分型即可成笔">
                <label class="layui-form-label">笔类型</label>
                <div class="layui-input-inline">
                    <label for="bi_type">
                        <select type="select" class="form-control" name="bi_type" lay-filter="cl_config">
                            <option value="bi_type_old" {% if bi_type=='bi_type_old' %} selected {% endif %}>老笔</option>
                            <option value="bi_type_new" {% if bi_type=='bi_type_new' %} selected {% endif %}>新笔</option>
                            <option value="bi_type_jdb" {% if bi_type=='bi_type_jdb' %} selected {% endif %}>简单笔
                            </option>
                            <option value="bi_type_dd" {% if bi_type=='bi_type_dd' %} selected {% endif %}>顶底成笔
                            </option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="layui-inline" title="笔的标准化，是否将笔的起始端点，画在笔内的最高最低之上">
                <label class="layui-form-label">笔标准化</label>
                <div class="layui-input-inline">
                    <label for="bi_bzh">
                        <select type="select" class="form-control" name="bi_bzh" lay-filter="cl_config">
                            <option value="bi_bzh_yes" {% if bi_bzh=='bi_bzh_yes' %} selected {% endif %}>标准化（画在高低点）
                            </option>
                            <option value="bi_bzh_no" {% if bi_bzh=='bi_bzh_no' %} selected {% endif %}>不标准化（按照分型来）
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" title="之前的顶底分型不满足成笔，后一个分型高于或低于前一个分型，是否允许成笔">
                <label class="layui-form-label">笔次高低</label>
                <div class="layui-input-inline">
                    <label for="bi_fx_cgd">
                        <select type="select" class="form-control" name="bi_fx_cgd" lay-filter="cl_config">
                            <option value="bi_fx_cgd_yes" {% if bi_fx_cgd=='bi_fx_cgd_yes' %} selected {% endif %}>
                                允许次高低分型成笔
                            </option>
                            <option value="bi_fx_cgd_no" {% if bi_fx_cgd=='bi_fx_cgd_no' %} selected {% endif %}>
                                不允许次高低分型成笔
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="笔区间计算依据，会影响线段的特征序列计算">
                <label class="layui-form-label">笔区间</label>
                <div class="layui-input-inline">
                    <label for="bi_qj">
                        <select type="select" class="form-control" name="bi_qj" lay-filter="cl_config">
                            <option value="bi_qj_dd" {% if bi_qj=='bi_qj_dd' %} selected {% endif %}>笔的起始端点</option>
                            <option value="bi_qj_k" {% if bi_qj=='bi_qj_k' %} selected {% endif %}>笔内原始K线最高最低
                            </option>
                            <option value="bi_qj_ck" {% if bi_qj=='bi_qj_ck' %} selected {% endif %}>笔内缠论K线最高最低
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" title="笔内重叠K线超过N后进行拆分，20,2 表示笔内重叠K线>=20（允许2根不连续重叠）进行笔拆分；99,0 则表示不进行拆分，最小 13 根">
                <label class="layui-form-label">笔重叠K</label>
                <div class="layui-input-inline">
                    <label for="bi_split_k_cross_nums">
                        <input type="text" class="layui-input" lay-filter="cl_config"
                            placeholder="20,2 表示笔内重叠K线>=20（允许2根不连续重叠）进行笔拆分" name="bi_split_k_cross_nums"
                            lay-verify="required" value="{{ bi_split_k_cross_nums }}" />
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="在指定的原始K线数量内，进行分型包含等规则的处理判断，超过则不在进行判断分型规则">
                <label class="layui-form-label">笔检查K</label>
                <div class="layui-input-inline">
                    <label for="fx_check_k_nums">
                        <input type="text" class="layui-input" lay-verify="required" name="fx_check_k_nums"
                            lay-filter="cl_config" value="{{ fx_check_k_nums }}" />
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="笔分型是否严格处理">
                <label class="layui-form-label">笔分型严格</label>
                <div class="layui-input-inline">
                    <label for="allow_bi_fx_strict">
                        <select type="select" class="form-control" name="allow_bi_fx_strict" lay-filter="cl_config">
                            <option value="0" {% if allow_bi_fx_strict=='0' %} selected {% endif %}>关闭</option>
                            <option value="1" {% if allow_bi_fx_strict=='1' %} selected {% endif %}>开启</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <hr class="layui-border-red">
        <div class="layui-form-item">
            <div class="layui-inline" title="线段区间计算依据，影响走势段的特征序列计算">
                <label class="layui-form-label">线段区间</label>
                <div class="layui-input-inline">
                    <label for="xd_qj">
                        <select type="select" class="form-control" name="xd_qj" lay-filter="cl_config">
                            <option value="xd_qj_dd" {% if xd_qj=='xd_qj_dd' %} selected {% endif %}>线段的起始端点</option>
                            <option value="xd_qj_ck" {% if xd_qj=='xd_qj_ck' %} selected {% endif %}>线段内缠论K线高低点
                            </option>
                            <option value="xd_qj_k" {% if xd_qj=='xd_qj_k' %} selected {% endif %}>线段内原始K线高低点
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="走势段区间计算依据，影响走势段中枢计算">
                <label class="layui-form-label">走势段区间</label>
                <div class="layui-input-inline">
                    <label for="zsd_qj">
                        <select type="select" class="form-control" name="zsd_qj" lay-filter="cl_config">
                            <option value="zsd_qj_dd" {% if zsd_qj=='zsd_qj_dd' %} selected {% endif %}>线段的起始端点
                            </option>
                            <option value="zsd_qj_ck" {% if zsd_qj=='zsd_qj_ck' %} selected {% endif %}>线段内缠论K线高低点
                            </option>
                            <option value="zsd_qj_k" {% if zsd_qj=='zsd_qj_k' %} selected {% endif %}>线段内原始K线高低点
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            线段划分采用特征序列进行处理，会有个别情况划分不理想，以下设置可针对于所描述的情况进行特殊处理。
        </p>

        <div class="layui-form-item">
            <div class="layui-inline" title="是否允许笔破坏线段（一笔跌破或涨破线段的起始位置）；允许的话，个别情况会产生一笔成段的情况">
                <label class="layui-form-label">笔破坏</label>
                <div class="layui-input-inline">
                    <label for="xd_allow_bi_pohuai">
                        <select type="select" class="form-control" name="xd_allow_bi_pohuai" lay-filter="cl_config">
                            <option value="no" {% if xd_allow_bi_pohuai=='no' %} selected {% endif %}>
                                不允许
                            </option>
                            <option value="yes" {% if xd_allow_bi_pohuai=='yes' %} selected {% endif %}>
                                允许
                            </option>
                            <option value="yes_qk" {% if xd_allow_bi_pohuai=='yes_qk' %} selected {% endif %}>
                                允许（有缺口）
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="线段的起始不是线段内最高最低的情况进行拆分（组成线段的数量必须大于等于9段才可）；拆分的话，个别情况会产生一笔成段的情况">
                <label class="layui-form-label">非标准</label>
                <div class="layui-input-inline">
                    <label for="xd_allow_split_no_highlow">
                        <select type="select" class="form-control" name="xd_allow_split_no_highlow"
                            lay-filter="cl_config">
                            <option value="1" {% if xd_allow_split_no_highlow=='1' %} selected {% endif %}>
                                拆分线段起始非最高最低
                            </option>
                            <option value="0" {% if xd_allow_split_no_highlow=='0' %} selected {% endif %}>
                                不拆分起始非最高最低
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="线段内有多个段内中枢，并且有中枢产生的重叠情况；拆分的话，个别情况会产生一笔成段的情况">
                <label class="layui-form-label">中枢扩展</label>
                <div class="layui-input-inline">
                    <label for="xd_allow_split_zs_kz">
                        <select type="select" class="form-control" name="xd_allow_split_zs_kz" lay-filter="cl_config">
                            <option value="1" {% if xd_allow_split_zs_kz=='1' %} selected {% endif %}>
                                拆分线段内中枢扩展（有重叠）
                            </option>
                            <option value="0" {% if xd_allow_split_zs_kz=='0' %} selected {% endif %}>
                                不拆分线段内中枢扩展（有重叠）
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" title="线段内有段内中枢，有中枢方向与线段方向相反；拆分的话，个别情况会产生一笔成段的情况">
                <label class="layui-form-label">中枢不同</label>
                <div class="layui-input-inline">
                    <label for="xd_allow_split_zs_no_direction">
                        <select type="select" class="form-control" name="xd_allow_split_zs_no_direction"
                            lay-filter="cl_config">
                            <option value="1" {% if xd_allow_split_zs_no_direction=='1' %} selected {% endif %}>
                                拆分线段内反向中枢
                            </option>
                            <option value="0" {% if xd_allow_split_zs_no_direction=='0' %} selected {% endif %}>
                                不拆分线段内反向中枢
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="线段内有段内中枢，组成中枢的线段大于N笔，级别上升进行拆分；拆分的话，个别情况会产生一笔成段的情况">
                <label class="layui-form-label">中枢多段</label>
                <div class="layui-input-inline">
                    <label for="xd_allow_split_zs_more_line">
                        <select type="select" class="form-control" name="xd_allow_split_zs_more_line"
                            lay-filter="cl_config">
                            <option value="1" {% if xd_allow_split_zs_more_line=='1' %} selected {% endif %}>
                                拆分段内中枢大于N笔的线段
                            </option>
                            <option value="0" {% if xd_allow_split_zs_more_line=='0' %} selected {% endif %}>
                                不拆分段内中枢大于N笔的线段
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="段内中枢超几笔进行拆分（包括进入离开段）,最小 9 段">
                <label class="layui-form-label">中枢最大笔</label>
                <div class="layui-input-block">
                    <label for="xd_zs_max_lines_split">
                        <input type="text" class="layui-input" placeholder="段内中枢超几笔进行拆分（包括进入离开段）"
                            name="xd_zs_max_lines_split" lay-filter="cl_config" value="{{ xd_zs_max_lines_split }}"
                            lay-verify="required" />
                    </label>
                </div>
            </div>
        </div>
        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            中枢设置，可以选择多种类型的中枢；买卖点根据中枢计算，不同的中枢也会生成不同的买卖点
        </p>
        <div class="layui-form-item">
            <div class="layui-inline" title="标准中枢，中枢维持，直到出现三类买卖点结束；段内中枢，只计算线段内出现的中枢；方向中枢，严格按照中枢方向生成中枢">
                <label class="layui-form-label">笔中枢类型</label>
                <div class="layui-input-inline">
                        <input type="checkbox" name="zs_bi_type" value="zs_type_bz" title="标准中枢" lay-filter="cl_config"
                            {% if "zs_type_bz" in zs_bi_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_bi_type" value="zs_type_dn" title="段内中枢" lay-filter="cl_config"
                            {% if "zs_type_dn" in zs_bi_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_bi_type" value="zs_type_fx" title="方向中枢" lay-filter="cl_config"
                            {% if "zs_type_fx" in zs_bi_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_bi_type" value="zs_type_fl" title="分类中枢" lay-filter="cl_config"
                            {% if "zs_type_fl" in zs_bi_type %} checked {% endif %} />
                    
                </div>
            </div>
            <div class="layui-inline" title="标准中枢，中枢维持，直到出现三类买卖点结束；段内中枢，只计算线段内出现的中枢；方向中枢，严格按照中枢方向生成中枢">
                <label class="layui-form-label">线段中枢类型</label>
                <div class="layui-input-inline">
                        <input type="checkbox" name="zs_xd_type" value="zs_type_bz" title="标准中枢" lay-filter="cl_config"
                            {% if "zs_type_bz" in zs_xd_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_xd_type" value="zs_type_dn" title="段内中枢" lay-filter="cl_config"
                            {% if "zs_type_dn" in zs_xd_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_xd_type" value="zs_type_fx" title="方向中枢" lay-filter="cl_config"
                            {% if "zs_type_fx" in zs_xd_type %} checked {% endif %} />
                        <input type="checkbox" name="zs_xd_type" value="zs_type_fl" title="分类中枢" lay-filter="cl_config"
                            {% if "zs_type_fl" in zs_xd_type %} checked {% endif %} />
                    
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline" title="中枢区间，用来计算 高高、低低、中枢高点、中枢低点的依据">
                <label class="layui-form-label">中枢区间</label>
                <div class="layui-input-inline">
                    <label for="zs_qj">
                        <select type="select" class="form-control" name="zs_qj" lay-filter="cl_config">
                            <option value="zs_qj_dd" {% if zs_qj=='zs_qj_dd' %} selected {% endif %}>中枢元素的顶底端点
                            </option>
                            <option value="zs_qj_ck" {% if zs_qj=='zs_qj_ck' %} selected {% endif %}>中枢元素的缠论K线高低点
                            </option>
                            <option value="zs_qj_k" {% if zs_qj=='zs_qj_k' %} selected {% endif %}>中枢元素的原始K线高低点
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="中枢重叠，用来计算中枢重叠区间的依据">
                <label class="layui-form-label">中枢重叠</label>
                <div class="layui-input-inline">
                    <label for="zs_cd">
                        <select type="select" class="form-control" name="zs_cd" lay-filter="cl_config">
                            <option value="zs_cd_three" {% if zs_cd=='zs_cd_three' %} selected {% endif %}>前三段
                            </option>
                            <option value="zs_cd_more" {% if zs_cd=='zs_cd_more' %} selected {% endif %}>所有段
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="计算两个中枢的位置关系，来判断是上涨还是下跌趋势">
                <label class="layui-form-label">中枢位置</label>
                <div class="layui-input-inline">
                    <label for="zs_wzgx">
                        <select type="select" class="form-control" name="zs_wzgx" lay-filter="cl_config">
                            <option value="zs_wzgx_zgd" {% if zs_wzgx=='zs_wzgx_zgd' %} selected {% endif %}>
                                宽松比较(zg/zd)
                            </option>
                            <option value="zs_wzgx_zggdd" {% if zs_wzgx=='zs_wzgx_zggdd' %} selected {% endif %}>
                                较为宽松(zg/dd zd/gg)
                            </option>
                            <option value="zs_wzgx_gd" {% if zs_wzgx=='zs_wzgx_gd' %} selected {% endif %}>
                                严格比较(gg/dd)
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            MACD参数设置，用于缠论内部计算力度来判定是否背驰，与Web页面展示MACD图表无关。
        </p>
        <div class="layui-form-item">
            <label class="layui-form-label">MACD参数</label>
            <div class="layui-input-inline" title="用于计算背驰">
                <label for="idx_macd_fast">
                    <input type="text" class="layui-input" lay-verify="required" name="idx_macd_fast"
                        lay-filter="cl_config" value="{{ idx_macd_fast }}" />
                </label>
            </div>
            <div class="layui-input-inline" title="用于计算背驰">
                <label for="idx_macd_slow">
                    <input type="text" class="layui-input" lay-verify="required" name="idx_macd_slow"
                        lay-filter="cl_config" value="{{ idx_macd_slow }}" />
                </label>
            </div>
            <div class="layui-input-inline" title="用于计算背驰">
                <label for="idx_macd_signal">
                    <input type="text" class="layui-input" lay-verify="required" name="idx_macd_signal"
                        lay-filter="cl_config" value="{{ idx_macd_signal }}" />
                </label>
            </div>
        </div>

        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            低转高配置，需要自己在代码设置高低级别对应关系，代码位置在 cl_utils.py 文件中的 kcharts_frequency_h_l_map 方法中
        </p>
        <div class="layui-form-item" title="是否开启低级别数据转高级别图表展示功能">
            <label class="layui-form-label">低转高级别</label>
            <div class="layui-input-block">
                <label for="allow_split_one_line_to_xd">
                    <select type="select" class="form-control" name="enable_kchart_low_to_high" lay-filter="cl_config">
                        <option value="0" {% if enable_kchart_low_to_high=='0' %} selected {% endif %}>关闭</option>
                        <option value="1" {% if enable_kchart_low_to_high=='1' %} selected {% endif %}>开启</option>
                    </select>
                </label>
            </div>
        </div>

        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            买卖点配置，是否计算描述的买卖点
        </p>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_qs_1mmd=='1' %} checked {% endif %}
                name="cl_mmd_cal_qs_1mmd" title="两中枢及以上趋势背驰，产生一类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_not_qs_3mmd_1mmd=='1' %} checked {%
                endif %} name="cl_mmd_cal_not_qs_3mmd_1mmd" title="非趋势，产生三类买卖点，后续创新高/新低且背驰，产生一类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_qs_3mmd_1mmd=='1' %} checked {%
                endif %} name="cl_mmd_cal_qs_3mmd_1mmd" title="趋势，产生三类买卖点，后续创新高/新低且背驰，产生一类买卖点" />

        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_qs_not_lh_2mmd=='1' %} checked {%
                endif %} name="cl_mmd_cal_qs_not_lh_2mmd" title="趋势，不创新高/新低，产生二类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_qs_bc_2mmd=='1' %} checked {% endif
                %} name="cl_mmd_cal_qs_bc_2mmd" title="趋势，新高/新低后，下一段与新高/新低段比较背驰后，产生二类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_3mmd_not_lh_bc_2mmd=='1' %} checked
                {% endif %} name="cl_mmd_cal_3mmd_not_lh_bc_2mmd" title="趋势，三类买卖点后，后续段不创新高/新低，或者有背驰，产生二类买卖点" />
        </div>
        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_1mmd_not_lh_2mmd=='1' %} checked {%
                endif %} name="cl_mmd_cal_1mmd_not_lh_2mmd" title="之前有一类买卖点，后续不创新高/新低，产生二类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_3mmd_xgxd_not_bc_2mmd=='1' %}
                checked {% endif %} name="cl_mmd_cal_3mmd_xgxd_not_bc_2mmd"
                title="三类买卖点后创新高/新低且不背驰，后不创新高/新低且背驰，产生二类买卖点" />
        </div>

        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_not_in_zs_3mmd=='1' %} checked {%
                endif %} name="cl_mmd_cal_not_in_zs_3mmd" title="回调不进入中枢的(中枢小于9段)，产生三类买卖点" />
        </div>
        <div class="layui-form-item">
            <input type="checkbox" value="1" lay-filter="cl_config" {% if cl_mmd_cal_not_in_zs_gt_9_3mmd=='1' %} checked
                {% endif %} name="cl_mmd_cal_not_in_zs_gt_9_3mmd" title="回调不进入中枢的(中枢大于等于9段)，产生三类买卖点" />
        </div>


        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            画图配置，是否在图表中显示，选择显示，取消不显示
        </p>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_bi=='1' %} checked {% endif
                        %} name="chart_show_bi" title="笔" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_xd=='1' %} checked {% endif
                        %} name="chart_show_xd" title="线段" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_zsd=='1' %} checked {%
                        endif %} name="chart_show_zsd" title="走势段" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_qsd=='1' %} checked {%
                        endif %} name="chart_show_qsd" title="趋势段" />
                </div>


                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_bi_zs=='1' %} checked {%
                        endif %} name="chart_show_bi_zs" title="笔中枢" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_xd_zs=='1' %} checked {%
                        endif %} name="chart_show_xd_zs" title="线段中枢" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_zsd_zs=='1' %} checked {%
                        endif %} name="chart_show_zsd_zs" title="走势段中枢" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_qsd_zs=='1' %} checked {%
                        endif %} name="chart_show_qsd_zs" title="趋势段中枢" />
                </div>


                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_bi_mmd=='1' %} checked {%
                        endif %} name="chart_show_bi_mmd" title="笔买卖点" />
                </div>
                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_xd_mmd=='1' %} checked {%
                        endif %} name="chart_show_xd_mmd" title="线段买卖点" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_zsd_mmd=='1' %} checked {%
                        endif %} name="chart_show_zsd_mmd" title="走势段买卖点" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_qsd_mmd=='1' %} checked {%
                        endif %} name="chart_show_qsd_mmd" title="趋势段买卖点" />
                </div>


                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_bi_bc=='1' %} checked {%
                        endif %} name="chart_show_bi_bc" title="笔背驰" />
                </div>
                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_xd_bc=='1' %} checked {%
                        endif %} name="chart_show_xd_bc" title="线段背驰" />
                </div>
                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_zsd_bc=='1' %} checked {%
                        endif %} name="chart_show_zsd_bc" title="走势段背驰" />
                </div>
                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_qsd_bc=='1' %} checked {%
                        endif %} name="chart_show_qsd_bc" title="趋势段背驰" />
                </div>

                <div class="layui-col-xs3">
                    <input type="checkbox" value="1" lay-filter="cl_config" {% if chart_show_fx=='1' %} checked {% endif
                        %} name="chart_show_fx" title="分型" />
                </div>
            </div>
        </div>

        <hr class="layui-border-red">
        <p class="layui-padding-1 layui-font-blue">
            <i class="layui-edge layui-edge-right"></i>
            个人定制，不特殊说明，不明白使用默认配置即可
        </p>
        <div class="layui-form-item">
            <div class="layui-inline" title="如果缠论K线中间有缺口，则插入一根缠论K线；会影响笔的计算；">
                <label class="layui-form-label">K线缺口</label>
                <div class="layui-input-inline">
                    <label for="kline_qk">
                        <select type="select" name="kline_qk" lay-filter="cl_config">
                            <option value="none" {% if kline_qk=='none' %} selected {% endif %}>默认方式
                            </option>
                            <option value="ck" {% if kline_qk=='ck' %} selected {% endif %}>缠论K线缺口</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-inline" title="中枢趋势级别判断">
                <label class="layui-form-label">中枢趋势级别判断</label>
                <div class="layui-input-inline">
                    <label for="judge_zs_qs_level">
                        <select type="select" name="judge_zs_qs_level" lay-filter="cl_config">
                            <option value="1" {% if judge_zs_qs_level=='1' %} selected {% endif %}>验证</option>
                            <option value="0" {% if judge_zs_qs_level=='0' %} selected {% endif %}>不验证</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid layui-bg-red" lay-submit
                    lay-filter="save_cl_config">保存配置</button>
            </div>
        </div>

    </form>

    <script>

        $(function () {
            function save_cl_config() {
                let cl_config = { 'is_del': 'false' };
                $.each($('[lay-filter="cl_config"]'), function (i, obj) {
                    var _name = $(obj).attr('name');
                    var _type = $(obj).attr('type');
                    var _val = $(this).val();
                    if (_type === 'checkbox') {
                        _val = $('input[name="' + _name + '"]:checked').map(function () {
                            return this.value;
                        }).get().join(",");
                    }
                    if (_name === 'zs_bi_type' && _val === '') {
                        layer.msg('笔中枢类型 必须选择一个');
                        return false;
                    }
                    if (_name === 'zs_xd_type' && _val === '') {
                        layer.msg('线段中枢类型 必须选择一个');
                        return false;
                    }
                    cl_config[_name] = _val
                });
                console.log(cl_config);
                $.ajax({
                    type: "POST",
                    url: "/set_cl_config",
                    data: cl_config,
                    dataType: 'json',
                    traditional: true,
                    success: function (result) {
                        if (result['ok'] === true) {
                            layer.msg('缠论配置变更成功');
                        } else {
                            layer.msg('缠论配置变更失败');
                        }
                    }
                });
            }

            layui.use(function () {
                var form = layui.form;
                var layer = layui.layer;
                // 提交事件
                form.on('submit(save_cl_config)', function (data) {
                    save_cl_config();
                    return false; // 阻止默认 form 跳转
                });
                // 独立配置删除
                form.on('select(cl_config)', function (data) {
                    var config_use_type = '{{ config_use_type }}';
                    if (config_use_type === 'custom') {
                        if (data.elem.name === 'config_use_type' && data.value === 'common') {
                            layer.confirm('确定将{{ code }}独立配置修改为通用配置吗？', {
                                btn: ['确定', '关闭'] //按钮
                            }, function () {
                                $.ajax({
                                    type: "POST",
                                    url: "/set_cl_config",
                                    data: { 'market': '{{ market }}', 'code': '{{ code }}', 'is_del': 'true' },
                                    dataType: 'json',
                                    traditional: true,
                                    success: function (result) {
                                        if (result['ok'] === true) {
                                            location.reload();
                                        } else {
                                            layer.msg('独立配置删除失败！');
                                        }
                                        layer.closeLast('dialog');
                                    }
                                });
                            }, function () {
                                layer.closeLast('dialog');
                            });
                        }
                    }
                });
            });

        });


    </script>
</body>

</html>