pandas
numpy
requests
redis
prettytable
pymysql
chardet

pyecharts==2.0.5
django==3.2.12
dbutils
apscheduler
tenacity
qiniu
flask
gevent
sqlalchemy
lark-oapi

mytt
matplotlib
tqdm
ipywidgets
snapshot_selenium
pinyin
pyarmor
setuptools

futu-api
ccxt~=4.1.95
baostock
polygon-api-client
alpaca-py
ib_insync
akshare
tqsdk

pyfolio-reloaded