.sidebar {
    width: 240px;
    float: right;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    height: 300px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}


.sidebar + .main-content {
    margin-left: 0;
    margin-right: 240px;
}

.nav-list li a {
    height: auto;
}

.ace-settings-box.open {
    max-width: 600px;
    max-height: 800px;
    overflow: auto;
}

.menu-rate {
    float: right;
    font-size: 12px;
}

.ace-settings-box .form-horizontal .form-group {
    margin-bottom: 2px !important;
}