<div class="panel panel-default">
    <div class="panel-heading">
        买卖
        <a href="javascript:void(0);" class="open_buysell_shuaxin">刷新</a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">资产信息</h4>
                <p class="list-group-item-text">总资产：{{ balance.total|floatformat }} USDT 可用: {{ balance.free|floatformat }} 已用: {{ balance.used|floatformat }} 未实现盈亏：{{ balance.profit|floatformat }} USDT</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">买卖</h4>
                <p class="list-group-item-text">
                <form class="form-inline" id="trade_form">
                    <div class="form-group">
                        <label for="open_symbol">交易对</label>
                        <input type="text" class="form-control code_input" placeholder="交易对"
                               name="open_symbol" value="BTC/USDT" style="width: 120px;"/>
                    </div>
                    <div class="form-group">
                        <label for="leverage">杠杠</label>
                        <input type="text" class="form-control" placeholder="杠杠"
                               name="leverage" value="5" style="width: 50px;"/>
                    </div>
                    <div class="form-group">
                        <label for="open_usdt">金额</label>
                        <input type="text" class="form-control" placeholder="USDT"
                               name="open_usdt" value="1000" style="width: 150px;"/>
                    </div>
                    <button type="button" class="btn btn-danger" id="trade_open_long">看涨</button>
                    <button type="button" class="btn btn-success" id="trade_open_short">看空</button>
                </form>
                </p>

            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">开仓配置</h4>
                <form class="list-group-item-text form-inline open_set_form">
                    <div class="form-group">
                        <label for="symbol">交易对</label>
                        <input type="text" class="form-control code_input" placeholder="交易对"
                               name="symbol" value="BTC/USDT" style="width: 120px;"/>
                    </div>
                    <div class="form-group">
                        <label for="trade_type">交易方向</label>
                        <select class="form-control" name="trade_type">
                            <option value="open_long">看涨</option>
                            <option value="open_short">看跌</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="leverage">杠杠</label>
                        <input type="text" class="form-control" placeholder="杠杠"
                               name="leverage" value="5" style="width: 50px;"/>
                    </div>
                    <div class="form-group">
                        <label for="open_usdt">金额</label>
                        <input type="text" class="form-control" placeholder="USDT"
                               name="open_usdt" value="1000" style="width: 150px;"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="frequency">周期</label>
                        <select class="form-control" name="frequency">
                            <option value="d">D</option>
                            <option value="4h">4H</option>
                            <option value="60m">60M</option>
                            <option value="30m" selected>30M</option>
                            <option value="15m">15M</option>
                            <option value="5m">5M</option>
                            <option value="1m">1M</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fangxiang">方向</label>
                        <select class="form-control" name="fangxiang">
                            <option value="up">Up</option>
                            <option value="down">Down</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="beichi">背驰</label>
                        <select class="form-control" name="beichi">
                            <option value="none">None</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bi_done">笔完成</label>
                        <select class="form-control" name="bi_done">
                            <option value="none">None</option>
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="td">停顿</label>
                        <select class="form-control" name="td">
                            <option value="none">None</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mmds">买卖点</label>
                        <input type="text" class="form-control" value="" placeholder="多个用斜线分割 /"
                               name="mmds"/>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">添加</button>
                </form>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">现有配置</h4>
                <div class="list-group-item-text" style="font-size: 18px;">
                    {% for set in open_settings %}
                    <p>
                        <a href="#{{ set.symbol }}" class="code" data-code="{{ set.symbol }}">{{ set.symbol }}</a>
                        {{ set.trade_type }} {{ set.leverage }}倍杠杠 {{ set.open_usdt }} USDT <br/> [{{ set.frequency }}
                        {{ set.fangxiang }} 背驰 {{ set.beichi }} 笔完成
                        {{ set.bi_done }} 停顿 {{ set.td }} 买卖点 {{ set.mmds }}]
                        <button type="button" class="btn btn-default btn-xs open_set_del" data-code="{{ set.symbol }}" data-num="{{ set.num }}">删除</button>
                    </p>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</div>