<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>动量排行数据表</title>
    <script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
</head>
<body class="container-fluid">

<div>
    <div style="width: 80%; float: left;">
        {% include 'base_nav.html' with nav='dlph' %}
    </div>
    <div style="width: 20%; float: left; padding-top: 8px;" class="navbar navbar-default">
        <button class="btn btn-primary" id="dl_hy_rank_save" type="button">新增行业动量排行</button>
        <button class="btn btn-primary" id="dl_gn_rank_save" type="button">新增概念动量排行</button>
    </div>
    <div style="clear: both;"></div>
</div>


<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default" style="width: 50%; float: left;">
            <div class="panel-heading">概念动量排行</div>
            <div class="panel-body">
                {% for day, ranks in gn_ranks.items %}
                    <table class="table table-condensed gn_table" style="float: left; width: 31%; margin-left: 20px; font-size: 12px;">
                        <thead>
                        <tr>
                            <td colspan="5" style="font-size: 18px; text-align: center; font-weight: bold;">
                                {{ day }}
                            </td>
                        </tr>
                        <tr style="text-align: center; font-weight: bold;">
                            <td>概念</td>
                            <td>排名</td>
                            <td>评分</td>
                            <td>趋势</td>
                            <td>变化</td>
                            <td>成分</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dl in ranks %}
                            <tr class="rank_row" data-name="{{ dl.1.co_name }}">
                                <td>
                                    <a class="cf_names" tabindex="0" role="button" data-toggle="popover"
                                       data-trigger="click" title="成份股"
                                       data-content="{% for stock in dl.1.cf_names %} {{ stock }} / {% endfor %} \n {{ dl.1.json_stocks }}">
                                        {{ dl.1.co_name }}
                                    </a>
                                </td>
                                <td>{{ dl.1.num }}</td>
                                <td>{{ dl.1.score | floatformat:3 }}</td>
                                <td style="color: {% if dl.1.diff_num > 0 %}red{% elif dl.1.diff_num < 0 %}green{% else %}black{% endif %}">{{ dl.1.diff_num }}</td>
                                <td style="color: {% if dl.1.diff_score > 0 %}red{% elif dl.1.diff_score < 0 %}green{% else %}black{% endif %}">
                                    {{ dl.1.diff_score | floatformat:3 }}</td>
                                <td>{{ dl.1.cf_stocks | length }}/{{ dl.1.all_stocks | length }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default" style="width: 50%; float: left;">
            <div class="panel-heading">行业动量排行</div>
            <div class="panel-body">
                {% for day, ranks in hy_ranks.items %}
                    <table class="table table-condensed hy_table" style="float: left; width: 31%; margin-left: 20px; font-size: 12px;">
                        <thead>
                        <tr>
                            <td colspan="5" style="font-size: 18px; text-align: center; font-weight: bold;">
                                {{ day }}
                            </td>
                        </tr>
                        <tr style="text-align: center; font-weight: bold;">
                            <td>行业</td>
                            <td>排名</td>
                            <td>评分</td>
                            <td>趋势</td>
                            <td>变化</td>
                            <td>成分</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dl in ranks %}
                            <tr class="rank_row" data-name="{{ dl.1.hy_name }}">
                                <td>
                                    <a class="cf_names" tabindex="0" role="button" data-toggle="popover"
                                       data-trigger="click" title="成份股"
                                       data-content="{% for stock in dl.1.cf_names %} {{ stock }} / {% endfor %} \n {{ dl.1.json_stocks }}">
                                        {{ dl.1.hy_name }}
                                    </a>
                                </td>
                                <td>{{ dl.1.num }}</td>
                                <td>{{ dl.1.score | floatformat:3 }}</td>
                                <td style="color: {% if dl.1.diff_num > 0 %}red{% elif dl.1.diff_num < 0 %}green{% else %}black{% endif %}">{{ dl.1.diff_num }}</td>
                                <td style="color: {% if dl.1.diff_score > 0 %}red{% elif dl.1.diff_score < 0 %}green{% else %}black{% endif %}">
                                    {{ dl.1.diff_score | floatformat:3 }}</td>
                                <td>{{ dl.1.cf_stocks | length }}/{{ dl.1.all_stocks | length }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>



    </div>
</div>


<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-easy-loading/2.0.0-rc.2/jquery.loading.min.js"></script>
<script>
    $(
        function () {
            $('.cf_names').popover();

            $('tr.rank_row').hover(function () {
                $('tr.rank_row').removeClass('warning');
                var name = $(this).attr('data-name');
                $('tr.rank_row[data-name="' + name + '"]').addClass('warning');
            });

            // 新增动量排行数据
            $('#dl_hy_rank_save').click(function () {
                var ranks = prompt('请输入新的动量排行数据：');
                if (ranks == null) {
                    return false
                }
                $.ajax({
                    type: "PSOT",
                    url: "/charts/dl_hy_ranks_save",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    contentType: "application/json",
                    data: ranks,
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] === 200) {
                            alert('添加成功，请刷新页面');
                        }
                    }
                });
                return true
            });
            $('#dl_gn_rank_save').click(function () {
                var ranks = prompt('请输入新的动量排行数据：');
                if (ranks == null) {
                    return false
                }
                $.ajax({
                    type: "PSOT",
                    url: "/charts/dl_gn_ranks_save",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    contentType: "application/json",
                    data: ranks,
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] === 200) {
                            alert('添加成功，请刷新页面');
                        }
                    }
                });
                return true
            });
        }
    );
</script>
</body>
</html>
