<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>沪深A股行情图表</title>
    <script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <link href="/static/chart/app.css" rel="stylesheet" />
</head>
<body class="container-fluid" style="width:100%; height:100%;position: fixed;top: 0px; left: 0px;">

<div>
    <div style="width: 80%; float: left;">
        {% include 'base_nav.html' with nav='gphq' %}
    </div>
    <div style="width: 20%; float: left; padding-top: 8px;" class="navbar navbar-default">
        <button class="btn btn-primary" id="shuaxin" type="button" value="0">开启自动刷新</button>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="row">
    <div class="col-md-1">
        <div id="stocks_list">
            <div class="input-group">
                <input class="form-control" id="stock_code" placeholder="StockCode" type="text"/>
                <span class="input-group-btn"><button type="button" id="stock_ok"
                                                      class="btn btn-default">OK</button></span>
            </div>
            <button class="btn btn-default" type="button" id="import_stocks">导入</button>
            <hr/>
            <div class="form-group">
                <a href="javascript:void(0);" data-my="我的持仓" class="btn btn-info btn-xs btn_zixuan">持</a>
                <a href="javascript:void(0);" data-my="股票池" class="btn btn-info btn-xs btn_zixuan">池</a>
                <a href="javascript:void(0);" data-my="今日关注" class="btn btn-info btn-xs btn_zixuan">今</a>
                <a href="javascript:void(0);" data-my="ETF" class="btn btn-info btn-xs btn_zixuan">ETF</a>
            </div>
            <div class="from-group">
                <input class="form-control" id="stock_search" placeholder="Search" type="text"/>
            </div>
            <ul class="list-group" id="my_stocks" style="overflow: scroll; font-size: 12px;">
                <li class="list-group-item code" data-code="--">
                    <a href="#--">-- / --</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-10">
        <div style="width: 50%; float: left;">
            <div class="btn-toolbar" role="toolbar" aria-label="周期选择">
                <div class="btn-group btn-group-xs" role="group" id="zq_high_1">
                    <button type="button" class="btn btn-default" data-zq="y">Year</button>
                    <button type="button" class="btn btn-default" data-zq="m">Month</button>
                    <button type="button" class="btn btn-default" data-zq="w">Week</button>
                    <button type="button" class="btn btn-default" data-zq="d">Day</button>
                    <button type="button" class="btn btn-default" data-zq="120m">120M</button>
                    <button type="button" class="btn btn-default" data-zq="60m">60M</button>
                    <button type="button" class="btn btn-default" data-zq="30m">30M</button>
                    <button type="button" class="btn btn-default" data-zq="15m">15M</button>
                    <button type="button" class="btn btn-default" data-zq="5m">5M</button>
                    <button type="button" class="btn btn-default" data-zq="1m">1M</button>
                </div>
            </div>
            <div id="kline_high_1" class="kline_chart" style="width:100%; margin-top: 10px;"></div>
        </div>
        <div style="width: 50%; float: left;">
            <div class="btn-toolbar" role="toolbar" aria-label="周期选择">
                <div class="btn-group btn-group-xs" role="group" id="zq_high_2">
                    <button type="button" class="btn btn-default" data-zq="y">Year</button>
                    <button type="button" class="btn btn-default" data-zq="m">Month</button>
                    <button type="button" class="btn btn-default" data-zq="w">Week</button>
                    <button type="button" class="btn btn-default" data-zq="d">Day</button>
                    <button type="button" class="btn btn-default" data-zq="120m">120M</button>
                    <button type="button" class="btn btn-default" data-zq="60m">60M</button>
                    <button type="button" class="btn btn-default" data-zq="30m">30M</button>
                    <button type="button" class="btn btn-default" data-zq="15m">15M</button>
                    <button type="button" class="btn btn-default" data-zq="5m">5M</button>
                    <button type="button" class="btn btn-default" data-zq="1m">1M</button>
                </div>
            </div>
            <div id="kline_high_2" class="kline_chart" style="width:100%;margin-top: 10px;"></div>
        </div>
        <div style="width: 50%; float: left;">
            <div class="btn-toolbar" role="toolbar" aria-label="周期选择">
                <div class="btn-group btn-group-xs" role="group" id="zq_low_1">
                    <button type="button" class="btn btn-default" data-zq="y">Year</button>
                    <button type="button" class="btn btn-default" data-zq="m">Month</button>
                    <button type="button" class="btn btn-default" data-zq="w">Week</button>
                    <button type="button" class="btn btn-default" data-zq="d">Day</button>
                    <button type="button" class="btn btn-default" data-zq="120m">120M</button>
                    <button type="button" class="btn btn-default" data-zq="60m">60M</button>
                    <button type="button" class="btn btn-default" data-zq="30m">30M</button>
                    <button type="button" class="btn btn-default" data-zq="15m">15M</button>
                    <button type="button" class="btn btn-default" data-zq="5m">5M</button>
                    <button type="button" class="btn btn-default" data-zq="1m">1M</button>
                </div>
            </div>
            <div id="kline_low_1" class="kline_chart" style="width:100%; margin-top: 10px;"></div>
        </div>
        <div style="width: 50%; float: left;">
            <div class="btn-toolbar" role="toolbar" aria-label="周期选择">
                <div class="btn-group btn-group-xs" role="group" id="zq_low_2">
                    <button type="button" class="btn btn-default" data-zq="y">Year</button>
                    <button type="button" class="btn btn-default" data-zq="m">Month</button>
                    <button type="button" class="btn btn-default" data-zq="w">Week</button>
                    <button type="button" class="btn btn-default" data-zq="d">Day</button>
                    <button type="button" class="btn btn-default" data-zq="120m">120M</button>
                    <button type="button" class="btn btn-default" data-zq="60m">60M</button>
                    <button type="button" class="btn btn-default" data-zq="30m">30M</button>
                    <button type="button" class="btn btn-default" data-zq="15m">15M</button>
                    <button type="button" class="btn btn-default" data-zq="5m">5M</button>
                    <button type="button" class="btn btn-default" data-zq="1m">1M</button>
                </div>
            </div>
            <div id="kline_low_2" class="kline_chart" style="width:100%; margin-top: 10px;"></div>
        </div>
        <div style="width:100%; clear: both;">
            <p>行业信息：<span class="hy_list"></span></p>
            <p>概念信息：<span class="gn_list"></span></p>
        </div>
    </div>
    <div class="col-md-1">
        <h3>机会列表</h3>
        <ul class="list-group" id="jhs_ul" style="overflow: scroll; font-size: 12px;">
            <li class="list-group-item">Loading</li>
        </ul>
    </div>
    <div id="loading" style="width: 200px; height: 50px; position: fixed; right: 0; bottom: 0;"></div>
</div>


<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/chart/app.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-easy-loading/2.0.0-rc.2/jquery.loading.min.js"></script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery.devbridge-autocomplete/1.4.9/jquery.autocomplete.js"></script>
<script>
    $(
        function () {
            if ('ontouchend' in document.body) {
                $('#stocks_list').css('position', 'inherit')
            }

            $('.kline_chart').css('height', String((getClientHeight() - 72 - 55 - 60) / 2) + 'px');
            $('#jhs_ul').css('height', String(getClientHeight() - 130) + 'px');
            $('#my_stocks').css('height', String(getClientHeight() - 260) + 'px');

            var code = 'SH.000001';
            var url = window.location.href;
            if (url.split('#').length === 2) {
                code = url.split('#')[1]
            }
            var frequency_high_1 = $.cookie('_stock_frequency_high_1');
            if (frequency_high_1 == undefined) {
                frequency_high_1 = 'd';
            }
            var frequency_high_2 = $.cookie('_stock_frequency_high_2');
            if (frequency_high_2 == undefined) {
                frequency_high_2 = '60m';
            }
            var frequency_low_1 = $.cookie('_stock_frequency_low_1');
            if (frequency_low_1 == undefined) {
                frequency_low_1 = '30m';
            }
            var frequency_low_2 = $.cookie('_stock_frequency_low_2');
            if (frequency_low_2 == undefined) {
                frequency_low_2 = '5m';
            }

            // 选中默认的周期
            $('#zq_high_1').find('[data-zq="' + frequency_high_1 + '"]').addClass('active');
            $('#zq_high_2').find('[data-zq="' + frequency_high_2 + '"]').addClass('active');
            $('#zq_low_1').find('[data-zq="' + frequency_low_1 + '"]').addClass('active');
            $('#zq_low_2').find('[data-zq="' + frequency_low_2 + '"]').addClass('active');

            var intervalId;

            var chart_high_1 = echarts.init(document.getElementById('kline_high_1'), 'white', {renderer: 'canvas'});
            var chart_high_2 = echarts.init(document.getElementById('kline_high_2'), 'white', {renderer: 'canvas'});
            var chart_low_1 = echarts.init(document.getElementById('kline_low_1'), 'white', {renderer: 'canvas'});
            var chart_low_2 = echarts.init(document.getElementById('kline_low_2'), 'white', {renderer: 'canvas'});

            // 请求 Kline 方法
            function fetchData(chart, code, frequency, update) {
                fetchData_kline(chart, code, frequency, update);
            }

            // 周期选择
            $('#zq_high_1 button').click(function () {
                $('#zq_high_1 button').removeClass('active');
                $(this).addClass('active');
                frequency_high_1 = $(this).attr('data-zq');
                $.cookie('_stock_frequency_high_1', frequency_high_1);
                fetchData(chart_high_1, code, frequency_high_1, false);
            });
            $('#zq_high_2 button').click(function () {
                $('#zq_high_2 button').removeClass('active');
                $(this).addClass('active');
                frequency_high_2 = $(this).attr('data-zq');
                $.cookie('_stock_frequency_high_2', frequency_high_2);
                fetchData(chart_high_2, code, frequency_high_2, false);
            });
            $('#zq_low_1 button').click(function () {
                $('#zq_low_1 button').removeClass('active');
                $(this).addClass('active');
                frequency_low_1 = $(this).attr('data-zq');
                $.cookie('_stock_frequency_low_1', frequency_low_1);
                fetchData(chart_low_1, code, frequency_low_1, false);
            });
            $('#zq_low_2 button').click(function () {
                $('#zq_low_2 button').removeClass('active');
                $(this).addClass('active');
                frequency_low_2 = $(this).attr('data-zq');
                $.cookie('_stock_frequency_low_2', frequency_low_2);
                fetchData(chart_low_2, code, frequency_low_2, false);
            });


            // 定时刷新
            $('#shuaxin').click(function () {
                var val = $(this).attr('value');
                if (val === '0') {
                    // 开启自动更新
                    $(this).attr('value', '1');
                    $(this).text('关闭自动更新');
                    intervalId = setInterval(function () {
                        fetchData(chart_high_1, code, frequency_high_1, true);
                        fetchData(chart_high_2, code, frequency_high_2, true);
                        fetchData(chart_low_1, code, frequency_low_1, true);
                        fetchData(chart_low_2, code, frequency_low_2, true);
                    }, 30000);
                }
                if (val === '1') {
                    // 关闭自动更新
                    $(this).attr('value', '0');
                    $(this).text('开启自动更新');
                    clearInterval(intervalId);
                }
            });

            // 手动输入code显示
            $('#stock_ok').click(function () {
                var stock_code = $('#stock_code').val();
                if (stock_code !== '') {
                    code = stock_code;
                    fetchData(chart_high_1, code, frequency_high_1, false);
                    fetchData(chart_high_2, code, frequency_high_2, false);
                    fetchData(chart_low_1, code, frequency_low_1, false);
                    fetchData(chart_low_2, code, frequency_low_2, false);
                    stock_plate(code);
                }
            });

            fetchData(chart_high_1, code, frequency_high_1, true);
            fetchData(chart_high_2, code, frequency_high_2, true);
            fetchData(chart_low_1, code, frequency_low_1, true);
            fetchData(chart_low_2, code, frequency_low_2, true);

            // 自选切换
            $('.btn_zixuan').click(function () {
                {#$('.btn_zixuan').removeClass('active');#}
                {#$(this).addClass('active');#}
                var my = $(this).attr('data-my');
                $.ajax({
                    type: "GET",
                    url: "/charts/stock_zixuan?my=" + my,
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] == 200) {
                            $('#my_stocks').html('');
                            for (var i = 0; i < result['data'].length; i++) {
                                stock = result['data'][i];
                                $('#my_stocks').append('<li class="list-group-item"><a href="#' + stock['code'] + '" class="code" data-code="' + stock['code'] + '">' + stock['code'] + ' / ' + stock['name'] + '</a></li>');
                            }
                            $('#stock_search').quicksearch('#my_stocks li');
                        }
                    }
                });
            });
            // 自动触发一次
            $('.btn_zixuan')[0].click();

            $('#stock_search').quicksearch('#my_stocks li');

            // 股票搜索
            $('#stock_code').autocomplete({
                minChars: 2,
                serviceUrl: "/charts/search/",
                dataType: 'json',
                deferRequestBy: 500,
                onSelect: function (suggestion) {
                    $('#stock_code').val(suggestion.data);
                }
            });

            // 批量导入股票列表
            $('#import_stocks').click(function () {
                var json = prompt('请输入股票列表 JSON 数据：');
                if (json === '') {
                    return false;
                }
                stocks = eval('(' + json + ')')
                $('#my_stocks').html('');
                for (var i = 0; i < stocks.length; i++) {
                    stock = stocks[i];
                    $('#my_stocks').append('<li class="list-group-item"><a href="#' + stock['code'] + '" class="code" data-code="' + stock['code'] + '">' + stock['code'] + ' / ' + stock['name'] + '</a></li>');
                }
                return true;
            });

            // 点击切换股票行情
            $("body").delegate('.code', 'click', function () {
                $('#my_stocks a').removeClass('active');
                $(this).addClass('active');
                code = $(this).attr('data-code');
                fetchData(chart_high_1, code, frequency_high_1, false);
                fetchData(chart_high_2, code, frequency_high_2, false);
                fetchData(chart_low_1, code, frequency_low_1, false);
                fetchData(chart_low_2, code, frequency_low_2, false);
                stock_plate(code);
            });
            // 板块点击事件
            $("body").delegate('.plate', 'click', function () {
                var hy_code = $(this).attr('data-hycode');
                $.ajax({
                    type: "GET",
                    url: "/charts/plate_stocks?code=" + hy_code,
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] == 200) {
                            $('#my_stocks').html('');
                            for (var i = 0; i < result['data'].length; i++) {
                                stock = result['data'][i];
                                $('#my_stocks').append('<li class="list-group-item"><a href="#' + stock['code'] + '" class="code" data-code="' + stock['code'] + '">' + stock['code'] + ' / ' + stock['name'] + '</a></li>');
                            }
                            $('#stock_search').quicksearch('#my_stocks li');
                        }
                    }
                });
            });


            // 请求 Kline 方法
            function fetchData_kline(chart, code, frequency, update = false) {
                $('#loading').loading({theme: 'dark'});
                $.ajax({
                    type: "GET",
                    url: "/charts/stock_kline?code=" + code + '&frequency=' + frequency,
                    {#dataType: 'json',#}
                    success: function (result) {
                        var re_obj = (new Function("return " + result))();
                        if (update === false) {
                            chart.clear();
                        }
                        chart.setOption(re_obj);
                        {#chart.setOption(result.data);#}
                        $('#loading').loading('stop');
                    }

                });
            }

            // 获取股票行业与概念信息
            function stock_plate(code) {
                $.ajax({
                    type: "GET",
                    url: "/charts/stock_plate?code=" + code,
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] === 200) {
                            hy_list = '';
                            gn_list = '';
                            for (let i = 0; i < result['data']['HY'].length; i++) {
                                hy = result['data']['HY'][i];
                                hy_list += '<a href="javascript:void(0);" class="plate" data-hycode="' + hy['code'] + '">' + hy['name'] + '</a>  / '
                            }
                            for (let i = 0; i < result['data']['GN'].length; i++) {
                                gn = result['data']['GN'][i];
                                gn_list += '<a href="javascript:void(0);" class="plate" data-hycode="' + gn['code'] + '">' + gn['name'] + '</a>  / '
                            }
                            $('.hy_list').html(hy_list);
                            $('.gn_list').html(gn_list);
                        }
                    }
                });
            }

            // 机会列表的展示
            function jhs_list_show() {
                $.ajax({
                    type: "GET",
                    url: "/charts/stock_jhs",
                    dataType: 'json',
                    success: function (result) {
                        if (result['code'] === 200) {
                            $('#jhs_ul').html('');
                            for (let i = 0; i < result['data'].length; i++) {
                                jh = result['data'][i];
                                $('#jhs_ul').append('<li class="list-group-item"><h4 class="list-group-item-heading"><a href="javascript:void(0);" class="code" data-code="' + jh['code'] + '">' + jh['name'] + '</a> <span>' + jh['frequency'] + '</span></h4> <p class="list-group-item-text"><b>' + jh['jh_type'] + ' </b>机会 <br/>' + jh['bi_done'] + ' ' + jh['bi_td'] + '<br/> ' + jh['datetime_str'] + '</p></li>');
                            }
                        }
                    }
                });
            }

            jhs_list_show();
            setInterval(jhs_list_show, 60000);
        }
    );


</script>

</body>
</html>
