<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>交易者视图</title>
    <script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
</head>
<body class="container-fluid">

<div>
    <div style="width: 80%; float: left;">
        {% include 'base_nav.html' with nav='trader' %}
    </div>
    <div style="clear: both;"></div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="width: 50%; float: left;">
            <div class="panel-heading">数字货币交易者</div>
            <div class="panel-body">
                <h3>基本信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>代号</td>
                        <td>{{ currency_trader.name }}</td>
                        <td>是否股票</td>
                        <td>{{ currency_trader.is_stock }}</td>
                        <td>是否期货</td>
                        <td>{{ currency_trader.is_futures }}</td>
                        <td>交易买卖点</td>
                        <td>{{ currency_trader.allow_mmds }}</td>
                    </tr>
                </table>

                <h3>运行情况</h3>
                <p>
                    {% for code in currency_trader.todays.items %}
                        {{ code.0 }} : {{ code.1 }} /
                    {% endfor %}
                </p>

                <h3>持仓信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>交易对二</td>
                        <td>类型</td>
                        <td>买卖点</td>
                        <td>资金</td>
                        <td>成本</td>
                        <td>数量</td>
                        <td>止损</td>
                        <td>开仓时间</td>
                        <td>平仓时间</td>
                        <td>盈亏</td>
                        <td>最大盈亏</td>
                        <td>最大亏损</td>
                        <td>开仓信息</td>
                        <td>平仓信息</td>
                    </tr>
                    {% for code in currency_trader.positions.items %}
                        {% for pos in code.1.items %}
                            {% if pos.1.balance > 0 %}
                                <tr>
                                    <td>{{ code.0 }}</td>
                                    <td>{{ pos.1.type }}</td>
                                    <td>{{ pos.1.mmd }}</td>
                                    <td>{{ pos.1.balance }}</td>
                                    <td>{{ pos.1.price }}</td>
                                    <td>{{ pos.1.amount }}</td>
                                    <td>{{ pos.1.loss_price }}</td>
                                    <td>{{ pos.1.open_datetime }}</td>
                                    <td>{{ pos.1.close_datetime }}</td>
                                    <td>{{ pos.1.profit_rate }}</td>
                                    <td>{{ pos.1.max_profit_rate }}</td>
                                    <td>{{ pos.1.max_loss_rate }}</td>
                                    <td>{{ pos.1.open_msg }}</td>
                                    <td>{{ pos.1.close_msg }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>历史持仓</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>交易对儿</td>
                        <td>类型</td>
                        <td>买卖点</td>
                        <td>资金</td>
                        <td>成本</td>
                        <td>数量</td>
                        <td>止损</td>
                        <td>开仓时间</td>
                        <td>平仓时间</td>
                        <td>盈亏</td>
                        <td>最大盈亏</td>
                        <td>最大亏损</td>
                        <td>开仓信息</td>
                        <td>平仓信息</td>
                    </tr>
                    {% for code in currency_trader.positions_history.items %}
                        {% for pos in code.1 %}
                            <tr>
                                <td>{{ code.0 }}</td>
                                <td>{{ pos.type }}</td>
                                <td>{{ pos.mmd }}</td>
                                <td>{{ pos.balance }}</td>
                                <td>{{ pos.price }}</td>
                                <td>{{ pos.amount }}</td>
                                <td>{{ pos.loss_price }}</td>
                                <td>{{ pos.open_datetime }}</td>
                                <td>{{ pos.close_datetime }}</td>
                                <td>{{ pos.profit_rate }}</td>
                                <td>{{ pos.max_profit_rate }}</td>
                                <td>{{ pos.max_loss_rate }}</td>
                                <td>{{ pos.open_msg }}</td>
                                <td>{{ pos.close_msg }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>订单信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>日期</td>
                        <td>交易对儿</td>
                        <td>类型</td>
                        <td>价格</td>
                        <td>数量</td>
                        <td>信息</td>
                    </tr>
                    {% for code in currency_trader.orders.items %}
                        {% for order in code.1 %}
                            <tr>
                                <td>{{ order.datetime }}</td>
                                <td>{{ code.0 }}</td>
                                <td>{{ order.type }}</td>
                                <td>{{ order.price }}</td>
                                <td>{{ order.amount }}</td>
                                <td>{{ order.info }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>结果统计</h3>
            <div class="well well-lg">
                {% autoescape off %}
                {{ currency_result }}
                {% endautoescape %}
            </div>
            </div>
        </div>
        <div class="panel panel-default" style="width: 50%; float: left;">
            <div class="panel-heading">港股交易者</div>
            <div class="panel-body">
                <h3>基本信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>代号</td>
                        <td>{{ hk_stock_trader.name }}</td>
                        <td>是否股票</td>
                        <td>{{ hk_stock_trader.is_stock }}</td>
                        <td>是否期货</td>
                        <td>{{ hk_stock_trader.is_futures }}</td>
                        <td>交易买卖点</td>
                        <td>{{ hk_stock_trader.allow_mmds }}</td>
                    </tr>
                </table>

                <h3>运行情况</h3>
                <p>
                    {% for code in hk_stock_trader.todays.items %}
                        {{ code.0 }} : {{ code.1 }} /
                    {% endfor %}
                </p>

                <h3>持仓信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>代码</td>
                        <td>类型</td>
                        <td>买卖点</td>
                        <td>资金</td>
                        <td>成本</td>
                        <td>数量</td>
                        <td>止损</td>
                        <td>开仓时间</td>
                        <td>平仓时间</td>
                        <td>盈亏</td>
                        <td>最大盈亏</td>
                        <td>最大亏损</td>
                        <td>开仓信息</td>
                        <td>平仓信息</td>
                    </tr>
                    {% for code in hk_stock_trader.positions.items %}
                        {% for pos in code.1.items %}
                            {% if pos.1.balance > 0 %}
                                <tr>
                                    <td>{{ code.0 }}</td>
                                    <td>{{ pos.1.type }}</td>
                                    <td>{{ pos.1.mmd }}</td>
                                    <td>{{ pos.1.balance }}</td>
                                    <td>{{ pos.1.price }}</td>
                                    <td>{{ pos.1.amount }}</td>
                                    <td>{{ pos.1.loss_price }}</td>
                                    <td>{{ pos.1.open_datetime }}</td>
                                    <td>{{ pos.1.close_datetime }}</td>
                                    <td>{{ pos.1.profit_rate }}</td>
                                    <td>{{ pos.1.max_profit_rate }}</td>
                                    <td>{{ pos.1.max_loss_rate }}</td>
                                    <td>{{ pos.1.open_msg }}</td>
                                    <td>{{ pos.1.close_msg }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>历史持仓</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>代码</td>
                        <td>类型</td>
                        <td>买卖点</td>
                        <td>资金</td>
                        <td>成本</td>
                        <td>数量</td>
                        <td>止损</td>
                        <td>开仓时间</td>
                        <td>平仓时间</td>
                        <td>盈亏</td>
                        <td>最大盈亏</td>
                        <td>最大亏损</td>
                        <td>开仓信息</td>
                        <td>平仓信息</td>
                    </tr>
                    {% for code in hk_stock_trader.positions_history.items %}
                        {% for pos in code.1 %}
                            <tr>
                                <td>{{ code.0 }}</td>
                                <td>{{ pos.type }}</td>
                                <td>{{ pos.mmd }}</td>
                                <td>{{ pos.balance }}</td>
                                <td>{{ pos.price }}</td>
                                <td>{{ pos.amount }}</td>
                                <td>{{ pos.loss_price }}</td>
                                <td>{{ pos.open_datetime }}</td>
                                <td>{{ pos.close_datetime }}</td>
                                <td>{{ pos.profit_rate }}</td>
                                <td>{{ pos.max_profit_rate }}</td>
                                <td>{{ pos.max_loss_rate }}</td>
                                <td>{{ pos.open_msg }}</td>
                                <td>{{ pos.close_msg }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>订单信息</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>日期</td>
                        <td>代码</td>
                        <td>类型</td>
                        <td>价格</td>
                        <td>数量</td>
                        <td>信息</td>
                    </tr>
                    {% for code in hk_stock_trader.orders.items %}
                        {% for order in code.1 %}
                            <tr>
                                <td>{{ order.datetime }}</td>
                                <td>{{ code.0 }}</td>
                                <td>{{ order.type }}</td>
                                <td>{{ order.price }}</td>
                                <td>{{ order.amount }}</td>
                                <td>{{ order.info }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>

                <h3>结果统计</h3>
            <div class="well well-lg">
                {% autoescape off %}
                {{ hk_stock_result }}
                {% endautoescape %}
            </div>
            </div>
        </div>

    </div>
</div>


<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-easy-loading/2.0.0-rc.2/jquery.loading.min.js"></script>
<script>
    $(
        function () {

        }
    );
</script>
</body>
</html>
