<!DOCTYPE HTML>
<html>
<head>

    <title>TradingView Charting Library demo</title>

    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <script type="text/javascript" src="/static/charting_library/charting_library.standalone.js"></script>
    <script type="text/javascript" src="/static/datafeeds/udf/dist/polyfills.js"></script>
    <script type="text/javascript" src="/static/datafeeds/udf/dist/bundle.js"></script>

    <script type="text/javascript">
        var widget = null;

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function initOnReady() {
            widget = window.tvWidget = new TradingView.widget({
                // debug: true, // uncomment this line to see Library errors and warnings in the console
                fullscreen: true,
                symbol: 'SZ.000821',
                interval: '1D',
                container: "tv_chart_container",
                debug: false,
                symbol_search_request_delay: 1000, // 延迟阈值（以毫秒为单位），用于在用户在搜索框中键入商品名称时减少商品搜索请求的数量。

                //	BEWARE: no trailing slash is expected in feed URL
                datafeed: new Datafeeds.UDFCompatibleDatafeed("/tvchart", 30000),
                library_path: "/static/charting_library/",
                locale: "zh",

                disabled_features: ["use_localstorage_for_settings", 'snapshot_trading_drawings'],
                enabled_features: ["study_templates"],
                {#charts_storage_url: 'https://saveload.tradingview.com',#}
                charts_storage_api_version: "1.1",
                client_id: 'tradingview.com',
                user_id: 'public_user_id',
                theme: getParameterByName('theme'),
                custom_indicators_getter: function (PineJS) {
                    return Promise.resolve([
                        // *** 您的指标对象，通过模板创建 ***
                        {
                            // 将<study name>替换为您的指标名称
                            // 它将由图表库内部使用
                            name: "cl",
                            metainfo: {
                                "_metainfoVersion": 40,
                                "id": "cl@tv-basicstudies-1",
                                "scriptIdPart": "",
                                "name": "cl",
                                // 此说明将显示在指标窗口中
                                // 当调用createStudy方法时，它也被用作“name”参数
                                "description": "cl",
                                // 该描述将显示在图表上
                                "shortDescription": "cl",

                                "is_hidden_study": true,
                                "is_price_study": true,
                                "isCustomIndicator": true,

                                "plots": [{"id": "plot_0", "type": "line"}, {"id": "plot_1", "type": "line"}],
                                "defaults": {
                                    "styles": {
                                        "plot_0": {
                                            "linestyle": 0,
                                            "visible": true,

                                            // 绘图线宽度
                                            "linewidth": 2,

                                            // 绘制类型:
                                            //    1 - 直方图
                                            //    2 - 线形图
                                            //    3 - 十字指针
                                            //    4 - 山形图
                                            //    5 - 柱状图
                                            //    6 - 圆圈图
                                            //    7 - 中断线
                                            //    8 - 中断区块
                                            "plottype": 2,

                                            // 显示价格线?
                                            "trackPrice": true,

                                            // 绘制透明度，百分比。
                                            "transparency": 40,

                                            // 以#RRGGBB格式绘制颜色
                                            "color": "#0000FF"
                                        },
                                        "plot_1": {
                                            "linestyle": 0,
                                            "visible": true,

                                            // 绘图线宽度
                                            "linewidth": 1,

                                            // 绘制类型:
                                            //    1 - 直方图
                                            //    2 - 线形图
                                            //    3 - 十字指针
                                            //    4 - 山形图
                                            //    5 - 柱状图
                                            //    6 - 圆圈图
                                            //    7 - 中断线
                                            //    8 - 中断区块
                                            "plottype": 2,

                                            // 显示价格线?
                                            "trackPrice": true,

                                            // 绘制透明度，百分比。
                                            "transparency": 40,

                                            // 以#RRGGBB格式绘制颜色
                                            "color": "#0000FF"
                                        }
                                    },

                                    // 指标输出值的精度
                                    // (小数点后的位数)。
                                    "precision": 2,

                                    "inputs": {}
                                },
                                "styles": {
                                    "plot_0": {
                                        // 输出的名字将在样式窗口显示
                                        "title": "-- output name --",
                                        "histogramBase": 0,
                                    }
                                },
                                "inputs": [],
                            },

                            constructor: function () {
                                this.init = function (context, inputCallback) {
                                    this._context = context;
                                    this._input = inputCallback;

                                    this.count = 0;

                                    // 定义要绘制的商品。
                                    // 商品应该是一个字符串。
                                    // 您可以使用PineJS.Std.ticker（this._context）获取所选商品的代码。
                                    // 例,
                                    //    var symbol = "AAPL";
                                    //    var symbol = "#EQUITY";
                                    //    var symbol = PineJS.Std.ticker(this._context) + "#TEST";
                                    var symbol = PineJS.Std.ticker(this._context); // 获取所选商品代码
                                    this._context.new_sym(symbol, PineJS.Std.period(this._context), PineJS.Std.period(this._context));
                                };

                                this.main = function (context, inputCallback) {
                                    this._context = context;
                                    this._input = inputCallback;

                                    this._context.select_sym(1);

                                    // 您可以在PineJS.Std对象中使用以下内置函数：
                                    //     open, high, low, close
                                    //    hl2, hlc3, ohlc4
                                    var v1 = null;
                                    var v2 = null;
                                    this.count++
                                    if (this.count >= 100 && this.count <= 200) {
                                        v1 = 20;
                                        v2 = 10;
                                    }
                                    if (this.count == 250) {
                                        v1 = 9;
                                    }
                                    if (this.count == 300) {
                                        v1 = 13;
                                    }
                                    return [v1, v2];
                                }
                            }
                        },
                    ]);
                },
            });
            widget.onChartReady(function () {
                widget.chart().createStudy('cl', false, true);
            });
        }

        window.addEventListener('DOMContentLoaded', initOnReady, false);
    </script>

</head>

<body style="margin:0px;">
<div id="tv_chart_container"></div>
</body>

</html>
