<form class="form-horizontal" role="form">
    <h4>
        缠论计算配置
        <a target="_blank"
            href="https://chanlun-pro.readthedocs.io/zh_CN/latest/%E7%BC%A0%E8%AE%BA%E9%85%8D%E7%BD%AE%E9%A1%B9%E8%AF%B4%E6%98%8E/">说明文档</a>
    </h4>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right red">使用配置</label>
        <div class="col-sm-9 show-tooltips" title="可独立设置单独标的的配置项">
            <select type="select" class="form-control red" id="config_use_type">
                <option value="common" {% if config_use_type=='common' %} selected {% endif %}>通用配置</option>
                <option value="custom" {% if config_use_type=='custom' %} selected {% endif %}>独立配置</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">K线类型</label>
        <div class="col-sm-9 show-tooltips" title="K线类型，平均K线的高开收低与默认的不同">
            <select type="select" class="form-control" id="kline_type">
                <option value="kline_default" {% if kline_type=='kline_default' %} selected {% endif %}>默认K线
                </option>

                <option value="kline_chanlun" {% if kline_type=='kline_chanlun' %} selected {% endif %}>
                    缠论K线
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">分型区域高低</label>
        <div>
            <div class="col-sm-4 show-tooltips" title="分型高低区域">
                <select type="select" class="form-control" id="fx_qy">
                    <option value="fx_qy_three" {% if fx_qy=='fx_qy_three' %} selected {% endif %}>分型三根K线
                    </option>
                    <option value="fx_qy_middle" {% if fx_qy=='fx_qy_middle' %} selected {% endif %}>分型中间K线
                    </option>
                </select>
            </div>
            <div class="col-sm-5 show-tooltips" title="顶底分型区间计算依据">
                <select type="select" class="form-control" id="fx_qj">
                    <option value="fx_qj_k" {% if fx_qj=='fx_qj_k' %} selected {% endif %}>分型内原始K线高低区间
                    </option>
                    <option value="fx_qj_ck" {% if fx_qj=='fx_qj_ck' %} selected {% endif %}>分型内缠论K线高低区间
                    </option>
                </select>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">分型包含关系</label>
        <div class="col-sm-9 show-tooltips" title="影响顶底包含是否成笔">
            <select type="select" class="form-control" id="fx_bh">
                <option value="fx_bh_yes" {% if fx_bh=='fx_bh_yes' %} selected {% endif %}>接受所有包含关系</option>
                <option value="fx_bh_dingdi" {% if fx_bh=='fx_bh_dingdi' %} selected {% endif %}>顶不可以在底中
                </option>
                <option value="fx_bh_diding" {% if fx_bh=='fx_bh_diding' %} selected {% endif %}>底不可以在顶中
                </option>
                <option value="fx_bh_no" {% if fx_bh=='fx_bh_no' %} selected {% endif %}>不允许所有包含关系</option>
                <option value="fx_bh_no_qbh" {% if fx_bh=='fx_bh_no_qbh' %} selected {% endif %}>
                    不允许前分型包含后分型
                </option>
                <option value="fx_bh_no_hbq" {% if fx_bh=='fx_bh_no_hbq' %} selected {% endif %}>
                    不允许后分型包含前分型
                </option>
                <option value="fx_cd_no" {% if fx_bh=='fx_cd_no' %} selected {% endif %}>
                    顶底不重叠
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">笔类型</label>
        <div>
            <div class="col-sm-4 show-tooltips"
                title="成笔条件，老笔顶底至少5跟缠论K线；新笔顶底至少4跟缠论K线，5跟原始K线；简单笔3跟原始K线即可成笔；顶底成笔，只要有分型即可成笔">
                <select type="select" class="form-control" id="bi_type">
                    <option value="bi_type_old" {% if bi_type=='bi_type_old' %} selected {% endif %}>老笔</option>
                    <option value="bi_type_new" {% if bi_type=='bi_type_new' %} selected {% endif %}>新笔</option>
                    <option value="bi_type_jdb" {% if bi_type=='bi_type_jdb' %} selected {% endif %}>简单笔</option>
                    <option value="bi_type_dd" {% if bi_type=='bi_type_dd' %} selected {% endif %}>顶底成笔</option>
                </select>
            </div>
            <div class="col-sm-5 show-tooltips" title="笔的标准化，是否将笔的起始端点，画在笔内的最高最低之上">
                <select type="select" class="form-control" id="bi_bzh">
                    <option value="bi_bzh_yes" {% if bi_bzh=='bi_bzh_yes' %} selected {% endif %}>标准化（画在高低点）
                    </option>
                    <option value="bi_bzh_no" {% if bi_bzh=='bi_bzh_no' %} selected {% endif %}>不标准化（按照分型来）
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">次高低分型</label>
        <div class="col-sm-9 show-tooltips" title="之前的顶底分型不满足成笔，后一个分型高于或低于前一个分型，是否允许成笔">
            <select type="select" class="form-control" id="bi_fx_cgd">
                <option value="bi_fx_cgd_yes" {% if bi_fx_cgd=='bi_fx_cgd_yes' %} selected {% endif %}>允许次高低分型成笔
                </option>
                <option value="bi_fx_cgd_no" {% if bi_fx_cgd=='bi_fx_cgd_no' %} selected {% endif %}>不允许次高低分型成笔
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">笔区间</label>
        <div class="col-sm-9 show-tooltips" title="笔区间计算依据，会影响线段的特征序列计算">
            <select type="select" class="form-control" id="bi_qj">
                <option value="bi_qj_dd" {% if bi_qj=='bi_qj_dd' %} selected {% endif %}>笔的起始端点</option>
                <option value="bi_qj_k" {% if bi_qj=='bi_qj_k' %} selected {% endif %}>笔内原始K线最高最低</option>
                <option value="bi_qj_ck" {% if bi_qj=='bi_qj_ck' %} selected {% endif %}>笔内缠论K线最高最低</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">线段区间</label>
        <div class="col-sm-9 show-tooltips" title="线段区间计算依据，影响走势段的特征序列计算">
            <select type="select" class="form-control" id="xd_qj">
                <option value="xd_qj_dd" {% if xd_qj=='xd_qj_dd' %} selected {% endif %}>线段的起始端点</option>
                <option value="xd_qj_ck" {% if xd_qj=='xd_qj_ck' %} selected {% endif %}>线段内缠论K线高低点</option>
                <option value="xd_qj_k" {% if xd_qj=='xd_qj_k' %} selected {% endif %}>线段内原始K线高低点</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">走势段区间</label>
        <div class="col-sm-9 show-tooltips" title="走势段区间计算依据，影响走势段中枢计算">
            <select type="select" class="form-control" id="zsd_qj">
                <option value="zsd_qj_dd" {% if zsd_qj=='zsd_qj_dd' %} selected {% endif %}>线段的起始端点</option>
                <option value="zsd_qj_ck" {% if zsd_qj=='zsd_qj_ck' %} selected {% endif %}>线段内缠论K线高低点
                </option>
                <option value="zsd_qj_k" {% if zsd_qj=='zsd_qj_k' %} selected {% endif %}>线段内原始K线高低点</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">笔中枢类型</label>
        <div class="col-sm-9 show-tooltips" title="标准中枢，中枢维持，直到出现三类买卖点结束；段内中枢，只计算线段内出现的中枢；方向中枢，严格按照中枢方向生成中枢">
            <select multiple type="select" class="form-control" id="zs_bi_type">
                <option value="zs_type_bz" {% if 'zs_type_bz' in zs_bi_type %} selected {% endif %}>标准中枢
                </option>
                <option value="zs_type_dn" {% if 'zs_type_dn' in zs_bi_type %} selected {% endif %}>段内中枢
                </option>
                <option value="zs_type_fx" {% if 'zs_type_fx' in zs_bi_type %} selected {% endif %}>方向中枢
                </option>
                <option value="zs_type_fl" {% if 'zs_type_fl' in zs_bi_type %} selected {% endif %}>分类中枢
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">线段中枢类型</label>
        <div class="col-sm-9 show-tooltips" title="标准中枢，中枢维持，直到出现三类买卖点结束；段内中枢，只计算线段内出现的中枢；方向中枢，严格按照中枢方向生成中枢">
            <select multiple type="select" class="form-control" id="zs_xd_type">
                <option value="zs_type_bz" {% if 'zs_type_bz' in zs_xd_type %} selected {% endif %}>标准中枢
                </option>
                <option value="zs_type_dn" {% if 'zs_type_dn' in zs_xd_type %} selected {% endif %}>段内中枢
                </option>
                <option value="zs_type_fx" {% if 'zs_type_fx' in zs_xd_type %} selected {% endif %}>方向中枢
                </option>
                <option value="zs_type_fl" {% if 'zs_type_fl' in zs_xd_type %} selected {% endif %}>分类中枢
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">中枢区间</label>
        <div class="col-sm-9 show-tooltips" title="中枢区间，用来计算 高高、低低、中枢高点、中枢低点的依据">
            <select type="select" class="form-control" id="zs_qj">
                <option value="zs_qj_dd" {% if zs_qj=='zs_qj_dd' %} selected {% endif %}>中枢元素的顶底端点</option>
                <option value="zs_qj_ck" {% if zs_qj=='zs_qj_ck' %} selected {% endif %}>中枢元素的缠论K线高低点
                </option>
                <option value="zs_qj_k" {% if zs_qj=='zs_qj_k' %} selected {% endif %}>中枢元素的原始K线高低点
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">中枢位置关系</label>
        <div class="col-sm-9 show-tooltips" title="计算两个中枢的位置关系，来判断是上涨还是下跌趋势">
            <select type="select" class="form-control" id="zs_wzgx">
                <option value="zs_wzgx_zgd" {% if zs_wzgx=='zs_wzgx_zgd' %} selected {% endif %}>宽松比较(zg/zd)
                </option>
                <option value="zs_wzgx_zggdd" {% if zs_wzgx=='zs_wzgx_zggdd' %} selected {% endif %}>较为宽松(zg/dd
                    zd/gg)
                </option>
                <option value="zs_wzgx_gd" {% if zs_wzgx=='zs_wzgx_gd' %} selected {% endif %}>严格比较(gg/dd)
                </option>
            </select>
        </div>
    </div>
    <hr style="clear:both;" />
    <h4>缠论高级配置</h4>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">低转高级别</label>
        <div class="col-sm-9 show-tooltips" title="是否开启低级别数据转高级别图表展示功能，不支持港股与美股">
            <select type="select" class="form-control" id="enable_kchart_low_to_high">
                <option value="0" {% if enable_kchart_low_to_high=='0' %} selected {% endif %}>关闭</option>
                <option value="1" {% if enable_kchart_low_to_high=='1' %} selected {% endif %}>开启</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">拆分单笔成段</label>
        <div class="col-sm-9 show-tooltips" title="特殊情况，拆分线段时，是否允许单笔成段">
            <select type="select" class="form-control" id="allow_split_one_line_to_xd">
                <option value="0" {% if allow_split_one_line_to_xd=='0' %} selected {% endif %}>关闭</option>
                <option value="1" {% if allow_split_one_line_to_xd=='1' %} selected {% endif %}>开启</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">分型严格处理</label>
        <div class="col-sm-9 show-tooltips" title="笔分型是否严格处理">
            <select type="select" class="form-control" id="allow_bi_fx_strict">
                <option value="0" {% if allow_bi_fx_strict=='0' %} selected {% endif %}>关闭</option>
                <option value="1" {% if allow_bi_fx_strict=='1' %} selected {% endif %}>开启</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">段内中枢拆分</label>
        <div class="col-sm-9 show-tooltips" title="段内中枢超几段进行拆分（包括进入离开段）">
            <input type="text" class="form-control" placeholder="段内中枢超几段进行拆分（包括进入离开段）" id="xd_zs_max_lines_split"
                value="{{ xd_zs_max_lines_split }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">笔内重叠K线拆分</label>
        <div class="col-sm-9 show-tooltips"
            title="笔内重叠K线超过N后进行拆分，20,2 表示笔内重叠K线>=20（允许2根不连续重叠）进行笔拆分；99,0 则表示不进行拆分，最小 13 根">
            <input type="text" class="form-control" placeholder="20,2 表示笔内重叠K线>=20（允许2根不连续重叠）进行笔拆分"
                id="bi_split_k_cross_nums" value="{{ bi_split_k_cross_nums }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">分型检查K数量</label>
        <div class="col-sm-9 show-tooltips" title="在指定的原始K线数量内，进行分型包含等规则的处理判断，超过则不在进行判断分型规则">
            <input type="text" class="form-control" placeholder="13" id="fx_check_k_nums"
                value="{{ fx_check_k_nums }}" />
        </div>
    </div>

    <hr style="clear:both;" />
    <h4>买卖点配置</h4>

    <div class="controls col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_qs_1mmd=='1' %} checked {% endif %} id="cl_mmd_cal_qs_1mmd" />
                    <span class="lbl">两中枢及以上趋势背驰，产生一类买卖点</span>
                </label>
            </div>
            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_not_qs_3mmd_1mmd=='1' %} checked {% endif %} id="cl_mmd_cal_not_qs_3mmd_1mmd" />
                    <span class="lbl">非趋势，产生三类买卖点，后续创新高/新低且背驰，产生一类买卖点</span>
                </label>
            </div>
            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_qs_3mmd_1mmd=='1' %} checked {% endif %} id="cl_mmd_cal_qs_3mmd_1mmd" />
                    <span class="lbl">趋势，产生三类买卖点，后续创新高/新低且背驰，产生一类买卖点</span>
                </label>
            </div>
            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_qs_not_lh_2mmd=='1' %} checked {% endif %} id="cl_mmd_cal_qs_not_lh_2mmd" />
                    <span class="lbl">趋势，不创新高/新低，产生二类买卖点</span>
                </label>
            </div>

            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_qs_bc_2mmd=='1' %} checked {% endif %} id="cl_mmd_cal_qs_bc_2mmd" />
                    <span class="lbl">趋势，新高/新低后，下一段与新高/新低段比较背驰后，产生二类买卖点</span>
                </label>
            </div>

            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_3mmd_not_lh_bc_2mmd=='1' %} checked {% endif %}
                        id="cl_mmd_cal_3mmd_not_lh_bc_2mmd" />
                    <span class="lbl">趋势，三类买卖点后，后续段不创新高/新低，或者有背驰，产生二类买卖点</span>
                </label>
            </div>

            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_1mmd_not_lh_2mmd=='1' %} checked {% endif %} id="cl_mmd_cal_1mmd_not_lh_2mmd" />
                    <span class="lbl">之前有一类买卖点，后续不创新高/新低，产生二类买卖点</span>
                </label>
            </div>

            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_3mmd_xgxd_not_bc_2mmd=='1' %} checked {% endif %}
                        id="cl_mmd_cal_3mmd_xgxd_not_bc_2mmd" />
                    <span class="lbl">三类买卖点后创新高/新低且不背驰，后不创新高/新低且背驰，产生二类买卖点</span>
                </label>
            </div>

            <div class="col-xs-12">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        cl_mmd_cal_not_in_zs_3mmd=='1' %} checked {% endif %} id="cl_mmd_cal_not_in_zs_3mmd" />
                    <span class="lbl">回调不进入中枢的，产生三类买卖点</span>
                </label>
            </div>
        </div>
    </div>

    <hr style="clear:both;" />
    <h4>画图配置</h4>
    <div class="controls col-xs-12">
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_bi=='1' %}
                        checked {% endif %} id="chart_show_bi">
                    <span class="lbl">笔</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_xd=='1' %}
                        checked {% endif %} id="chart_show_xd">
                    <span class="lbl">线段</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_zsd=='1' %}
                        checked {% endif %} id="chart_show_zsd">
                    <span class="lbl">走势段</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_qsd=='1' %}
                        checked {% endif %} id="chart_show_qsd">
                    <span class="lbl">趋势段</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_bi_zs=='1'
                        %} checked {% endif %} id="chart_show_bi_zs">
                    <span class="lbl">笔中枢</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_xd_zs=='1'
                        %} checked {% endif %} id="chart_show_xd_zs">
                    <span class="lbl">线段中枢</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_zsd_zs=='1'
                        %} checked {% endif %} id="chart_show_zsd_zs">
                    <span class="lbl">走势段中枢</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_qsd_zs=='1'
                        %} checked {% endif %} id="chart_show_qsd_zs">
                    <span class="lbl">趋势段中枢</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_bi_mmd=='1'
                        %} checked {% endif %} id="chart_show_bi_mmd">
                    <span class="lbl">笔买卖点</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_xd_mmd=='1'
                        %} checked {% endif %} id="chart_show_xd_mmd">
                    <span class="lbl">线段买卖点</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        chart_show_zsd_mmd=='1' %} checked {% endif %} id="chart_show_zsd_mmd">

                    <span class="lbl">走势段买卖点</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if
                        chart_show_qsd_mmd=='1' %} checked {% endif %} id="chart_show_qsd_mmd">
                    <span class="lbl">趋势段买卖点</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_bi_bc=='1'
                        %} checked {% endif %} id="chart_show_bi_bc">
                    <span class="lbl">笔背驰</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_xd_bc=='1'
                        %} checked {% endif %} id="chart_show_xd_bc">
                    <span class="lbl">线段背驰</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_zsd_bc=='1'
                        %} checked {% endif %} id="chart_show_zsd_bc">
                    <span class="lbl">走势段背驰</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_qsd_bc=='1'
                        %} checked {% endif %} id="chart_show_qsd_bc">
                    <span class="lbl">趋势段背驰</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_infos=='1'
                        %} checked {% endif %} id="chart_show_infos">
                    <span class="lbl">形态信息</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_fx=='1' %}
                        checked {% endif %} id="chart_show_fx">
                    <span class="lbl">强分型</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_ma=='1' %}
                        checked {% endif %} id="chart_show_ma">

                    <span class="lbl">均线</span>
                </label>
            </div>

            <div class="col-xs-3">
                <label>
                    <input name="form-field-checkbox" type="checkbox" value="1" class="ace" {% if chart_show_boll=='1'
                        %} checked {% endif %} id="chart_show_boll">
                    <span class="lbl">布林线</span>
                </label>
            </div>
        </div>

    </div>
    <hr style="clear:both;" />
    <h4>指标配置</h4>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right show-tooltips" title="">显示力度</label>
        <div class="col-sm-9 form-inline">
            <select type="select" class="form-control" id="chart_show_ld">
                <option value="none" {% if chart_show_ld=='none' %} selected {% endif %}>无</option>
                <option value="bi" {% if chart_show_ld=='bi' %} selected {% endif %}>笔</option>
                <option value="xd" {% if chart_show_ld=='xd' %} selected {% endif %}>线段</option>
                <option value="zsd" {% if chart_show_ld=='zsd' %} selected {% endif %}>走势段</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right show-tooltips" title="">新增副图</label>
        <div class="col-sm-9 form-inline">
            <select type="select" class="form-control" id="chart_show_futu">
                <option value="macd" {% if chart_show_futu=='macd' %} selected {% endif %}>无</option>
                <option value="rsi" {% if chart_show_futu=='rsi' %} selected {% endif %}>RSI</option>
                <option value="atr" {% if chart_show_futu=='atr' %} selected {% endif %}>ATR</option>
                <option value="cci" {% if chart_show_futu=='cci' %} selected {% endif %}>CCI</option>
                <option value="kdj" {% if chart_show_futu=='kdj' %} selected {% endif %}>KDJ</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">MACD参数</label>
        <div class="col-sm-9 form-inline show-tooltips" title="MACD 参数 （快线、慢线、移动平均周期）">
            <input type="text" class="input-small" placeholder="MACD 快线" id="idx_macd_fast"
                value="{{ idx_macd_fast }}" />
            <input type="text" class="input-small" placeholder="MACD 慢线" id="idx_macd_slow"
                value="{{ idx_macd_slow }}" />
            <input type="text" class="input-small" placeholder="MACD 移动平均周期" id="idx_macd_signal"
                value="{{ idx_macd_signal }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">价格均线</label>
        <div class="col-sm-9 show-tooltips" title="均线参数，多个用逗号分割，最多支持5个">
            <input type="text" class="form-control" placeholder="均线" id="chart_idx_ma_period"
                value="{{ chart_idx_ma_period }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">成交量均线</label>
        <div class="col-sm-9 show-tooltips" title="成交量均线，多个用逗号分割，最多支持两个">
            <input type="text" class="form-control" placeholder="均线" id="chart_idx_vol_ma_period"
                value="{{ chart_idx_vol_ma_period }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">布林线参数</label>
        <div class="col-sm-9 show-tooltips" title="布林线参数">
            <input type="text" class="form-control" placeholder="布林线" id="chart_idx_boll_period"
                value="{{ chart_idx_boll_period }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">RSI参数</label>
        <div class="col-sm-9 show-tooltips" title="RSI参数">
            <input type="text" class="form-control" placeholder="RSI参数" id="chart_idx_rsi_period"
                value="{{ chart_idx_rsi_period }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">ATR参数</label>
        <div class="col-sm-9 show-tooltips" title="ATR参数">
            <input type="text" class="form-control" placeholder="ATR参数" id="chart_idx_atr_period"
                value="{{ chart_idx_atr_period }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">CCI参数</label>
        <div class="col-sm-9 show-tooltips" title="CCI参数">
            <input type="text" class="form-control" placeholder="CCI参数" id="chart_idx_cci_period"
                value="{{ chart_idx_cci_period }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">KDJ参数</label>
        <div class="col-sm-9 show-tooltips" title="KDJ参数">
            <input type="text" class="form-control" placeholder="KDJ参数" id="chart_idx_kdj_period"
                value="{{ chart_idx_kdj_period }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">趋势通道线</label>
        <div class="col-sm-9 show-tooltips" title="趋势通道线，根据最后n个完成的笔或线段，最高、最低两个点相连作为趋势通道线">
            <input type="text" class="form-control" placeholder="趋势通道线设置，例如：xd,5 / bi,10" id="chart_qstd"
                value="{{ chart_qstd }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">初始图表展示K线数量</label>
        <div class="col-sm-9 show-tooltips" title="初始图表展示的K线数量">
            <input type="text" class="form-control" placeholder="初始图表展示的K线数量" id="chart_kline_nums"
                value="{{ chart_kline_nums }}">
        </div>
    </div>

    <hr style="clear:both;" />
    <h4>个人定制，不特殊说明，不明白使用默认配置即可</h4>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right show-tooltips" title="">K线缺口</label>
        <div class="col-sm-9 form-inline">
            <select type="select" class="form-control" id="kline_qk">
                <option value="none" {% if kline_qk=='none' %} selected {% endif %}>默认方式
                </option>
                <option value="ck" {% if kline_qk=='ck' %} selected {% endif %}>缠论K线缺口</option>
            </select>
        </div>
    </div>
</form>