<div id="dialog-message" class="hide">
    <div class="row">
        <form id="add_order_form" method="post">
            <div class="widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="space space-8"></div>

                        <input type="hidden" name="market" value="{{ market }}"/>

                        <label>代码</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-daterange input-group">
                                    <input type="text" name="code" class="form-control" readonly="readonly"/>
                                </div>
                            </div>
                        </div>

                        <label>日期时间</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-group">
                                    <input class="form-control date-picker" id="id-date-picker" name="dt"
                                           type="text"
                                           data-date-format="YYYY-MM-DD HH:mm:ss">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <label>操作</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-daterange input-group">
                                    <select class="form-control" name="type">
                                        {% if market == 'a' or market == 'hk' or market == 'us' %}
                                            <option value="buy">买入</option>
                                            <option value="sell">卖出</option>
                                        {% else %}
                                            <option value="open_long">做多买入</option>
                                            <option value="open_short">做空卖出</option>
                                            <option value="close_long">卖出平多</option>
                                            <option value="close_short">买入平空</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <label>价格</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-group">
                                    <input type="text" name="price" class="form-control" value=""/>
                                </div>
                            </div>
                        </div>

                        <label>数量</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-group">
                                    <input type="text" name="amount" class="form-control" value=""/>
                                </div>
                            </div>
                        </div>

                        <label>信息</label>
                        <div class="row">
                            <div class="col-xs-8 col-sm-11">
                                <div class="input-group">
                                    <input type="text" name="info" class="form-control" value=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div><!-- #dialog-message -->